// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../stylesheets/modules/mixins';
@import '../../stylesheets/modules/variables';

// =============================================================================
// Default stylesheet override styles.
//
// BASICS
// =============================================================================
body {
  font-family: var(--main-font-family);
}

.dark-background {
  color: var(--third-color);

  .content-formatted {
    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    ul,
    ol,
    dl,
    pre,
    table {
      color: var(--third-color);
    }
  }

  // &.footer {
  //
  //   &,
  //   a,
  //   b {
  //     color: var(--third-color);
  //   }
  // }

  .header-title a,
  .header-title a:hover {
    color: var(--third-color);
  }

  .menu li a {
    color: var(--third-color);
  }

  .menu li .active {
    color: var(--third-color);
  }

  .menu li.selected a {
    color: var(--third-color);
  }

  .lang-title {
    color: var(--third-color);
  }

  .lang-menu {
    &.lang-menu-bilingual {
      .lang-title a {
        color: var(--third-color);

        &.is-active,
        &:hover {
          color: var(--third-color);
        }
      }

      .lang-title a.selected {
        color: var(--third-color);
      }
    }
  }

  .voog-reference svg path {
    fill: var(--third-color);
  }

  .site-options .search-btn svg path {
    fill: var(--third-color);

    @media screen and (max-width: $tablet-3) {
      .search-open & {
        fill: var(--primary-color);
      }
    }
  }
}

.light-background {
  color: var(--secondary-color);

  .content-formatted {
    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    ul,
    ol,
    dl,
    pre,
    table {
      color: var(--secondary-color);
    }
  }

  // &.footer {
  //
  //   &,
  //   a,
  //   b {
  //     color: var(--secondary-color);
  //   }
  // }

  .header-title a,
  .header-title a:hover {
    color: var(--secondary-color);
  }

  .menu li a {
    color: var(--secondary-color);
  }

  .menu li.selected a {
    color: var(--secondary-color);
  }

  .lang-title {
    color: var(--secondary-color);
  }

  .lang-menu {
    &.lang-menu-bilingual {
      .lang-title a {
        color: var(--secondary-color);

        &.is-active,
        &:hover {
          color: var(--secondary-color);
        }
      }

      .lang-title a.selected {
        color: var(--secondary-color);
      }
    }
  }

  .voog-reference svg path {
    fill: var(--secondary-color);
  }

  .site-options .search-btn svg path {
    fill: var(--secondary-color);

    @media screen and (max-width: $tablet-3) {
      .search-open & {
        fill: var(--secondary-color);
      }
    }
  }
}

// =============================================================================
// BLOG & NEWS LAYOUT
// =============================================================================
.blog {
  .post {
    .post-header {

      .post-title {
        text-align: var(--blog-list-alignment);
        left: var(--blog-list-padding);
        right: var(--blog-list-padding);
        font-family: var(--font-main);
        font-size: var(--blog-list-headings-font-size);
        font-style: var(--blog-list-headings-font-style);
        font-weight: var(--blog-list-headings-font-weight);
        line-height: var(--blog-list-headings-line-height);
        text-decoration: var(--blog-list-headings-text-decoration);
        text-transform: var(--blog-list-headings-text-transform);

        .dark-background & {
          color: var(--third-color);
        }

        .light-background & {
          color: var(--secondary-color);
        }
      }

      @include querymin($mobile-5) {
        width: var(--blog-list-article-width);
        padding: calc(var(--blog-list-padding) - 5px) var(--blog-list-padding);
      }
    }

    .post-footer {
      text-align: var(--blog-list-date-alignment);

      .post-date {
        font-family: var(--font-main);
        font-size: var(--blog-list-date-font-size);
        font-style: var(--blog-list-date-font-style);
        font-weight: var(--blog-list-date-font-weight);
        text-decoration: var(--blog-list-date-text-decoration);
        text-transform: var(--blog-list-date-text-transform);
      }
    }
  }
}

// =============================================================================
// NAVIGATION MENUS
// =============================================================================
.menu-sub {
  background-color: var(--content-submenu-background-color);

  .menu-link {
    font-size: var(--content-submenu-font-size);
    font-style: var(--content-submenu-font-style);
    font-weight: var(--content-submenu-font-weight);
    text-decoration: var(--content-submenu-text-decoration);
    text-transform: var(--content-submenu-text-transform);

    &:hover {
      font-size: var(--content-submenu-font-size);
      font-style: var(--content-submenu-hover-font-style);
      font-weight: var(--content-submenu-hover-font-weight);
      text-decoration: var(--content-submenu-hover-text-decoration);
      text-transform: var(--content-submenu-hover-text-transform);
    }

    &.active {
      font-size: var(--content-submenu-font-size);
      font-style: var(--content-submenu-active-font-style);
      font-weight: var(--content-submenu-active-font-weight);
      text-decoration: var(--content-submenu-active-text-decoration);
      text-transform: var(--content-submenu-active-text-transform);
    }
  }
}

@include querymin($tablet-4) {
  .menu-main {
    .menu-link {
      font-size: var(--menu-main-font-size);
    }
  }
}

.menu-lang,
.menu-main {
  .menu-link {
    color: var(--menu-main-color);
    font-style: var(--menu-main-font-style);
    font-weight: var(--menu-main-font-weight);
    text-decoration: var(--menu-main-text-decoration);
    text-transform: var(--menu-main-text-transform);

    &.active {
      color: var(--menu-main-active-color);
      font-style: var(--menu-main-active-font-style);
      font-weight: var(--menu-main-active-font-weight);
      text-decoration: var(--menu-main-active-text-decoration);
      text-transform: var(--menu-main-active-text-transform);

      &:hover {
        font-weight: var(--menu-main-active-font-weight);
      }
    }

    &:hover {
      color: var(--menu-main-hover-color);
      font-style: var(--menu-main-hover-font-style);
      font-weight: var(--menu-main-hover-font-weight);
      text-decoration: var(--menu-main-hover-text-decoration);
      text-transform: var(--menu-main-hover-text-transform);
    }
  }
}

/* langmenu */
.lang-menu {
  &.lang-menu-bilingual {
    .lang-title {
      a {
        &.is-active {
          color: var(--secondary-color);
        }
      }
    }
  }

  li {
    a {
      color: var(--primary-color);
    }
  }

  a {
    &.lang-flag {
      .dark-background &,
      .light-background & {
        color: var(--secondary-color);

        &:hover {
          color: var(--secondary-color);
        }
      }
    }
  }
}

.lang-menu-btn {
  .lang-title-inner {
    &:after {
      border-color: var(--secondary-color) transparent transparent transparent;

      .dark-background & {
        border-color: var(--third-color) transparent transparent transparent;
      }
    }
  }
}

// =============================================================================
// SITE FOOTER
// =============================================================================
.footer {
  .dark-background {
    .content-formatted {
      a {
        color: var(--third-color);
      }
    }
  }

  .voog-reference {
    color: var(--secondary-color);
  }

  .blog-article-nav {
    .article-nav-direction {
      color: var(--secondary-color);
    }

    .article-nav-title {
      color: var(--secondary-color);
    }

    &.dark-background {
      .article-nav-title {
        color: var(--third-color);
      }

      .article-nav-direction {
        color: var(--third-color);
      }
    }
  }
}

// =============================================================================
// CONTENT
// =============================================================================

.header {
  background-color: var(--header-background-color);
}

.content-formatted {
  font-size: var(--content-body-font-size);
  line-height: var(--content-body-line-height);
  color: var(--primary-color);

  .content & {
    text-align: var(--content-body-alignment);
  }

  .dark-background & {
    color: var(--third-color);

    .site-footer & {
      color: var(--third-color);
    }
  }

  &.footer-left {
    font-size: var(--footer-body-font-size);
    font-style: var(--footer-body-font-style);
    font-weight: var(--footer-body-font-weight);
    text-decoration: var(--footer-body-text-decoration);
    text-transform: var(--footer-body-text-transform);

    a {
      font-weight: var(--footer-body-font-weight);
    }

    // .light-background & {
    //   color: var(--primary-color);
    // }
    //
    // .dark-background & {
    //   color: var(--third-color);
    // }
  }

  &.header-title {

    .header .wrap .header-left & {
      &,
      a,
      a:hover {
        font-size: var(--header-body-font-size);
        color: var(--header-body-color);
      }
    }
  }

  &.header-slogan {

    .header .wrap .header-left & {
      &,
      a,
      a:hover {
        color: var(--primary-color);
      }
    }
  }

  &.header-title,
  &.header-slogan {

    .header .wrap .header-left & {
      &,
      a,
      a:hover {
        font-family: var(--secondary-font-family);
        font-style: var(--header-body-font-style);
        font-weight: var(--header-body-font-weight);
        text-decoration: var(--header-body-text-decoration);
        text-transform: var(--header-body-text-transform);
      }
    }
  }

  // Styling rules for the editable content area headings and paragraphs.
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  pre,
  code,
  table {
    .dark-background & {
      color: var(--third-color);
    }
  }

  // Styling rules for the editable content area headings.
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--secondary-color);

    a {
      color: var(--secondary-color);
    }
  }

  // Styling rules for the editable content area paragraphs, lists and links.
  p,
  ul,
  ol,
  dl {
    font-size: var(--content-body-font-size);

    .site-footer & {
      color: var(--primary-color);
    }

    .dark-background & {
      .site-footer & {
        color: var(--third-color);
      }
    }
  }

  h1 {
    &,
    a,
    a:hover {
      text-align: var(--headings-title-text-alignment);
      line-height: var(--headings-title-line-height);
      font-size: var(--headings-title-font-size);
      font-weight: var(--headings-title-font-weight);
      font-style: var(--headings-title-font-style);
      text-decoration: var(--headings-title-text-decoration);
      text-transform: var(--headings-title-text-transform);
    }
  }

  h2 {
    &,
    a,
    a:hover {
      text-align: var(--headings-heading-text-alignment);
      line-height: var(--headings-heading-line-height);
      font-size: var(--headings-heading-font-size);
      font-weight: var(--headings-heading-font-weight);
      font-style: var(--headings-heading-font-style);
      text-decoration: var(--headings-heading-text-decoration);
      text-transform: var(--headings-heading-text-transform);
    }
  }

  h3,
  h4,
  h5,
  h6 {
    &,
    a,
    a:hover {
      text-align: var(--headings-subheading-text-alignment);
      line-height: var(--headings-subheading-line-height);
      font-size: var(--headings-subheading-font-size);
      font-weight: var(--headings-subheading-font-weight);
      font-style: var(--headings-subheading-font-style);
      text-decoration: var(--headings-subheading-text-decoration);
      text-transform: var(--headings-subheading-text-transform);
    }
  }

  @at-root .post-page .post .post-header .post-title {
    &,
    a,
    a:hover {
      text-align: var(--headings-title-text-alignment);
      line-height: var(--headings-title-line-height);
      font-size: var(--headings-title-font-size);
      font-weight: var(--headings-title-font-weight);
      font-style: var(--headings-title-font-style);
      text-decoration: var(--headings-title-text-decoration);
      text-transform: var(--headings-title-text-transform);
    }
  }

  @at-root .post-header-bottom {
    opacity: .6;

    .dark-background & {
      color: var(--third-color);
    }

    .light-background & {
      color: var(--secondary-color);
    }
  }

  .front-page & {
    h1 {
      &,
      a,
      a:hover {
        text-align: var(--headings-front-title-text-alignment);
        line-height: var(--headings-front-title-line-height);
        font-size: var(--headings-front-title-font-size);
        font-weight: var(--headings-front-title-font-weight);
        font-style: var(--headings-front-title-font-style);
        text-decoration: var(--headings-front-title-text-decoration);
        text-transform: var(--headings-front-title-text-transform);
      }
    }

    h2 {
      &,
      a,
      a:hover {
        text-align: var(--headings-front-heading-text-alignment);
        line-height: var(--headings-front-heading-line-height);
        font-size: var(--headings-front-heading-font-size);
        font-weight: var(--headings-front-heading-font-weight);
        font-style: var(--headings-front-heading-font-style);
        text-decoration: var(--headings-front-heading-text-decoration);
        text-transform: var(--headings-front-heading-text-transform);
      }
    }

    h3,
    h4,
    h5,
    h6 {
      &,
      a,
      a:hover {
        text-align: var(--headings-front-subheading-text-alignment);
        line-height: var(--headings-front-subheading-line-height);
        font-size: var(--headings-front-subheading-font-size);
        font-weight: var(--headings-front-subheading-font-weight);
        font-style: var(--headings-front-subheading-font-style);
        text-decoration: var(--headings-front-subheading-text-decoration);
        text-transform: var(--headings-front-subheading-text-transform);
      }
    }
  }

  a {
    font-style: var(--content-link-font-style);
    font-weight: var(--content-link-font-weight);
    color: var(--secondary-color);
    text-decoration: var(--content-link-text-decoration);
    text-transform: var(--content-link-text-transform);

    &:hover {
      font-style: var(--content-link-hover-font-style);
      font-weight: var(--content-link-hover-font-weight);
      text-decoration: var(--content-link-hover-text-decoration);
      text-transform: var(--content-link-hover-text-transform);
    }

    .dark-background & {
      color: var(--third-color);
    }
  }

  // Code blocks and preformatted content.
  a.custom-btn {
    padding: var(--button-padding) calc(var(--button-padding) + 8px);
    font-size: var(--button-font-size);
    font-style: var(--button-font-style);
    font-weight: var(--button-font-weight);
    text-decoration: var(--button-text-decoration);
    text-transform: var(--button-text-transform);

    .dark-background & {

      &,
      &:hover {
        border-color: var(--third-color);
        color: var(--third-color);
      }
    }

    .light-background & {

      &,
      &:hover {
        border-color: var(--secondary-color);
        color: var(--secondary-color);
      }
    }
  }

  table {

    tr:first-child {
      td {
        border-top-style: var(--table-border-style);
      }
    }

    th, td {
      padding: calc(var(--table-padding) - 4px) var(--table-padding);
      font-size: var(--table-font-size);
      border-bottom-style: var(--table-border-style);
      border-bottom-style: var(--table-border-style);
    }

    th {
      color: var(--third-color);
      background-color: var(--secondary-color);
    }

    .contacts & {
      tr {
        td {
          color: var(--primary-color);
        }
      }
    }
  }
}

//==============================================================================
// "FORM" TYPE CONTENT AREA
//==============================================================================
.content-formatted {

  .form_field {
    .form_field_label,
    .edy-fe-label {
      font-size: var(--form-label-font-size);
    }
  }

  .form_field_textfield,
  .form_field_textarea,
  label:not(.form_field_label) {
    font-style: var(--form-field-font-style);
    font-weight: var(--form-field-font-weight);
    font-size: var(--form-field-font-size);
    text-decoration: var(--form-field-text-decoration);
    text-transform: var(--form-field-text-transform);
  }

  @at-root .comments-title {
    font-size: var(--form-blog-title-font-size);
  }

  @at-root .comment-form .comment-form-label {
    font-size: var(--form-blog-label-font-size);
  }

  @at-root .comment-form .form_field_textarea, .comment-form .form_field_textfield {
    font-size: var(--form-blog-field-font-size);
  }

  @at-root .comment-form {

    .comments-title, .comment-form-label, .form_field_textarea, .form_field_textfield {
      font-style: var(--form-blog-field-font-style);
      font-weight: var(--form-blog-field-font-weight);
      text-decoration: var(--form-blog-field-text-decoration);
      text-transform: var(--form-blog-field-text-transform);

      &::-webkit-input-placeholder {
        opacity: .6;
        text-decoration: var(--form-blog-field-text-decoration);
      }
      &:-moz-placeholder {
        opacity: .6;
        text-decoration: var(--form-blog-field-text-decoration);
      }
      &::-moz-placeholder {
        opacity: .6;
        text-decoration: var(--form-blog-field-text-decoration);
      }
      &:-ms-input-placeholder {
        opacity: .6;
        text-decoration: var(--form-blog-field-text-decoration);
      }

      .dark-background & {
        color: var(--third-color);

        &::-webkit-input-placeholder {
          color: var(--third-color);
        }
        &:-moz-placeholder {
          color: var(--third-color);
        }
        &::-moz-placeholder {
          color: var(--third-color);

        }
        &:-ms-input-placeholder {
          color: var(--third-color);
        }
      }

      .light-background & {
        color: var(--secondary-color);

        &::-webkit-input-placeholder {
          color: var(--secondary-color);
        }
        &:-moz-placeholder {
          color: var(--secondary-color);
        }
        &::-moz-placeholder {
          color: var(--secondary-color);
        }
        &:-ms-input-placeholder {
          color: var(--secondary-color);
        }
      }
    }
  }

  .dark-background & {
    .form_field_textfield,
    .form_field_textarea,
    .form_field_select {
      color: var(--third-color);

      @include placeholder {
        color: var(--third-color);
      }
    }
  }

  .light-background & {
    .form_field_textfield,
    .form_field_textarea,
    .form_field_select {
      color: var(--primary-color);

      @include placeholder {
        color: var(--primary-color);
      }
    }
  }

  @at-root .comment-form .form_submit {
    input {
      padding: calc(var(--form-blog-button-padding) - 12px) var(--form-blog-button-padding);
      font-size: var(--form-blog-button-font-size);
      font-style: var(--form-blog-button-font-style);
      font-weight: var(--form-blog-button-font-weight);
      color: var(--form-blog-button-color);
      text-decoration: var(--form-blog-button-text-decoration);
      text-transform: var(--form-blog-button-text-transform);
      background-color: var(--form-blog-button-background-color);
      border-color: var(--form-blog-button-color);

      &:hover {
        font-style: var(--form-blog-button-hover-font-style);
        font-weight: var(--form-blog-button-hover-font-weight);
        color: var(--form-blog-button-hover-color);
        text-decoration: var(--form-blog-button-hover-text-decoration);
        text-transform: var(--form-blog-button-hover-text-transform);
        background-color: var(--form-blog-button-hover-background-color);
        border-color: var(--form-blog-button-hover-color);
      }
    }
  }
}
