// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["headings", "title"],
    "titleI18n": "alignment",
    "editor": "listPicker",
    "list": {{ base_alignment_set }},
    "scope": "global"
  */
  #{--headings-front-title-text-alignment}: center;

  /* VoogStyle
    "pathI18n": ["headings", "title"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  #{--headings-front-title-font-size}: 29px;

  /* VoogStyle
    "pathI18n": ["headings", "title"],
    "titleI18n": "line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  #{--headings-front-title-line-height}: 1.5;

  /* VoogStyle
    "pathI18n": ["headings", "title"],
    "titleI18n": "font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "700",
      "off": "300"
    },
    "icon": "bold",
    "scope": "global"
  */
  #{--headings-front-title-font-weight}: 700;

  /* VoogStyle
    "pathI18n": ["headings", "title"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  #{--headings-front-title-font-style}: normal;

  /* VoogStyle
    "pathI18n": ["headings", "title"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  #{--headings-front-title-text-decoration}: none;

  /* VoogStyle
    "pathI18n": ["headings", "title"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  #{--headings-front-title-text-transform}: none;

  /* VoogStyle
    "pathI18n": ["headings", "heading"],
    "titleI18n": "alignment",
    "editor": "listPicker",
    "list": {{ base_alignment_set }},
    "scope": "global"
  */
  #{--headings-front-heading-text-alignment}: center;

  /* VoogStyle
    "pathI18n": ["headings", "heading"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  #{--headings-front-heading-font-size}: 20px;

  /* VoogStyle
    "pathI18n": ["headings", "heading"],
    "titleI18n": "line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  #{--headings-front-heading-line-height}: 1.5;

  /* VoogStyle
    "pathI18n": ["headings", "heading"],
    "titleI18n": "font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "700",
      "off": "300"
    },
    "icon": "bold",
    "scope": "global"
  */
  #{--headings-front-heading-font-weight}: 700;

  /* VoogStyle
    "pathI18n": ["headings", "heading"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  #{--headings-front-heading-font-style}: normal;

  /* VoogStyle
    "pathI18n": ["headings", "heading"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  #{--headings-front-heading-text-decoration}: none;

  /* VoogStyle
    "pathI18n": ["headings", "heading"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  #{--headings-front-heading-text-transform}: none;

  /* VoogStyle
    "pathI18n": ["headings", "subheading"],
    "titleI18n": "alignment",
    "editor": "listPicker",
    "list": {{ base_alignment_set }},
    "scope": "global"
  */
  #{--headings-front-subheading-text-alignment}: center;

  /* VoogStyle
    "pathI18n": ["headings", "subheading"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  #{--headings-front-subheading-font-size}: 34px;

  /* VoogStyle
    "pathI18n": ["headings", "subheading"],
    "titleI18n": "line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  #{--headings-front-subheading-line-height}: 1.5;

  /* VoogStyle
    "pathI18n": ["headings", "subheading"],
    "titleI18n": "font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "700",
      "off": "300"
    },
    "icon": "bold",
    "scope": "global"
  */
  #{--headings-front-subheading-font-weight}: 300;

  /* VoogStyle
    "pathI18n": ["headings", "subheading"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  #{--headings-front-subheading-font-style}: normal;

  /* VoogStyle
    "pathI18n": ["headings", "subheading"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  #{--headings-front-subheading-text-decoration}: none;

  /* VoogStyle
    "pathI18n": ["headings", "subheading"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  #{--headings-front-subheading-text-transform}: none;

  // scss-lint:enable Comment, Indentation
}
