.flex_ {
  &box {
    display: flex;
  }

  &auto {
    flex: auto;
  }

  &col {
    display: flex;
    flex-direction: column;
  }

  &row {
    display: flex;
    flex-direction: row;

    @include query($tablet-2) {
      &.reverse-col-tablet {
        flex-direction: column-reverse;
      }
    }

    &-3 {
      flex-wrap: wrap;

      &--item {
        width: 33%;
        margin-bottom: 32px;

        @include query($tablet-1) {
          width: 50%;
        }

        @include query($mobile-1) {
          width: 100%;
        }

        .product_list & {
          @include query($desktop-1, 'min-width') {
            width: var(--product-list-item__width);
          }
        }
      }
    }

    &-2 {
      flex-wrap: wrap;

      &--item-50 {
        width: 50%;
        margin-bottom: 32px;

        @include query($tablet-2) {
          width: 100%;
        }
      }
    }
  }
}