
// Product list menu
.menu-horizontal {
  padding-left: 0 !important;

  .menu-separator {
    opacity: .36;
    font-size: 12px;

    &:first-child {
      display: none;
    }
  }

  &.menu-breadcrumbs {
    line-height: 16px;
    margin-bottom: 4px;

    .item-list-page & {
      padding-bottom: 0;
    }

    .menu-item {
      padding-left: 0;
    }
  }

  .menu-item {
    display: inline-block;
    font-size: 11px;
  }
}

.item-list-page {
  .menu-breadcrumbs {
    margin: 0;
  }
}

.menu-item-cms {
  margin-left: 10px;

  &.float-right {
    float: right;
  }
}
