/* BLOG & BLOG ARTICLE */
.post-add-link {
  width: 218px;
  height: 298px;
  text-decoration: none;
  @include color($primary-color, .2);
  @include border(all, 1px, dashed, $primary-color, .1);

  .light-background & {
    @include color($black,.4);
    border-color: rgba($black,.3);
  }

  &, &:hover {
    @include transition-property (color, border);
    @include transition-duration(.3s);
  }

  &:hover {
    @include color($primary-color, .5);
    @include border(all, 1px, dashed, $primary-color, .5);

    .light-background & {
      @include color($black, .6);
      @include border(all, 1px, dashed, $black, .6);
    }

    .no-svg & {
      .post-add-icon {
        opacity: .7;
        @include transition-property (opacity);
        @include transition-duration(.3s);
      }
    }

    .light-background & {
      border-color: $black;
    }
  }

  .post-add-link-inner {
    height: 100%;

    .ico-newspaper {
      .no-svg & {
        display: none;
      }
    }

    @include query($mobile-5) {
      width: 100%;
    }
  }

  .wrap {
    display: table;
    height: 100%;
    padding: 0 45px;

    .align-middle {
      display: table-cell;
      vertical-align: middle;
    }

    @include query($mobile-5) {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -87px;
      margin-top: -47px;
      padding: 0;
    }
  }

  .post-add-icon {
    display: inline-block;
    width: 72px;
    height: 57px;

    .no-svg & {
      opacity: .2;
      background-image: url('../images/ico-post-add-white.png');

      .light-background & {
        background-image: url('../images/ico-post-add-white.png');
      }

      @include transition-property (opacity);
      @include transition-duration(0.3s);

      .icon-newspaper {
        display: none;
      }
    }
  }

  .post-add-title {
    margin: 10px 0 0;
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
  }

  @include query($mobile-5) {
    position: relative;
    height: auto;

    &:after {
      padding-top: 122.3%;
      display: block;
      content: '';
    }

    .post-add-link-inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.post {
  .background-image,
  .background-color,
  .body-background-color {
    z-index: 0;
  }
}

.post-cover-inner {
  .light-background & {
    @include border(all, 1px, dashed, $black, 0.1);
  }

  .dark-background & {
    @include border(all, 1px, dashed, $primary-color, 0.1);
  }
}


.post-top {
  position: relative;

  .dark-background & {
    background-color: transparent;
    background-color: rgba($black,.2);

    &:hover {
      background-color: transparent;
      background-color: rgba($black,.4);
    }
  }

  .light-background & {
    background-color: transparent;
    background-color: rgba($primary-color,.2);

    &:hover {
      background-color: transparent;
      background-color: rgba($primary-color,.4);
    }
  }
}


.post-title {
  .dark-background & {
    @include color($primary-color);
  }

  .light-background & {
    @include color($black);
  }
}

.post-date {
  .light-background & {
    @include color($black);
  }
}

.blog-page {
  .blog {
    @extend %clearfix;
    font-size: 0;
  }

  .post {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    margin-right: 12px;
    margin-left: 12px;
    text-align: left;
    line-height: 1.2;

    &.post-add-link {
      text-align: center;
    }

    @include query($mobile-5) {
      display: block;
      width: 100%;
      max-width: none;
      margin: 25px auto 0;

      &:first-child {
        margin-top: 0;
      }


      .post-position {
        position: relative;

        &:after {
          padding-top: 122.3%;
          display: block;
          content: '';
        }

        .post-top {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }

    .post-top,
    .background-image,
    .post-title {
      @include transition(opacity, 0.3s);
    }

    .post-top {
      position: relative;
      overflow: hidden;
      display: block;
      text-decoration: none;
      @include perspective;

      &:hover {
        .background-image {
          opacity: 1;
        }

        .post-title {
          opacity: 0.75;
        }
      }

      .background-image {
        opacity: 0.7;
      }
    }

    .post-header {
      position: relative;
      z-index: 1;
      overflow: hidden;
      width: 180px;
      height: 270px;
      padding: 15px 20px;

      @include query($mobile-5) {
        width: auto;
        height: auto;
      }

      .post-title {
        margin: 0;
        font-weight: 400;
        font-size: 34px;

        &,
        & a {
          @include hyphenate(true);
        }
      }
    }

    .post-bottom {
      margin-top: 4px;
    }

    .post-content,
    .post-footer {
      text-align: right;
    }

    .post-footer {
      .post-date {
        font-size: 12px;
      }
    }
  }
}

.post-page {
  .post {
    margin: 36px auto;

    .public & {
      max-width: 650px;
    }

    .editmode.flexbox & {
      @include display(flex);
    }

    .editmode.no-flexbox & {
      display: table;
    }

    .post-cover,
    .post-inner {
      .editmode.no-flexbox & {
        display: table-cell;
        vertical-align: top;
      }
    }

    .post-cover {
      width: 310px;
      min-width: 240px;
    }

    .post-cover-inner {
      width: 220px;
      height: 300px;
      margin-top: 11px;

      &.active {
        border: none;
      }

      &.over {
        @include bg($black, 0.3);
      }
    }


    .post-inner {
      .editmode & {
        width: 650px;
      }
    }

    .post-header {
      text-align: center;

      .post-title {
        margin: 0;
        text-transform: uppercase;
        font-size: 29px;
      }
    }

    .post-content {
      .post-excerpt,
      .post-body {
        margin-top: 25px;
      }
    }

    @include query($mobile-3) {
      .editmode.flexbox &,
      .editmode.no-flexbox & {
        display: block;

        .post-cover,
        .post-inner {
          width: auto;
        }

        .post-inner {
          margin-top: 40px;
        }

        .post-cover-inner {
          margin: 0 auto
        }
      }

    }
  }
}

.post-header-bottom {
  font-size: 14px;
  @include color($primary-color, 0.3);

  .light-background & {
    @include color($black, 0.3);
  }
}
