/* COMMENTS */
.comments {
  max-width: 650px;
  margin: 10px auto 0;
}

.comments-title {
  padding-top: 40px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.4;
  @include color($primary-color);
  @include border(top, 4px, solid, $black, 0.2);

  .light-background & {
    @include color($black);
    @include border(top, 4px, solid, $primary-color, 0.2);
  }
}

.comments-messages {
  margin-top: 22px;
}

.comment {
  margin-top: 23px;
  font-size: 14px;

  &:first-child {
    margin-top: 0;
  }
}

.comment-author,
.comment-separator,
.comment-body {
  .light-background & {
    @include color($black);
  }
}

.comment-author {
  font-weight: 700;
  @include color($primary-color);
}

.comment-body {
  .light-background & {
    @include color($black);
  }
}

.comment-date {
  margin-left: 10px;
  font-size: 11px;
  @include color($primary-color, .2);

  .light-background & {
    @include color($black, .2);
  }
}

.comment-form {
  padding-bottom: 30px;

  .form_fields {
    margin-top: 10px;
  }

  .form_field {
    position: relative;
    padding: 17px 0 12px;
    @include border(top, 1px, solid, $black, 0.2);
  }

  .comment-form-label {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 120px;
    margin-right: 25px;
    text-align: right;
    font-size: 14px;
    line-height: 1.6;

    @include placeholder {
      color: rgba($black, .3);
    }

    .light-background & {
      @include color($black);

      @include placeholder {
        color: rgba($primary-color, .3);
      }
    }

    @include query($tablet-4 + 64) {
      text-align: left;
    }
  }

  .form_field_textfield,
  .form_field_textarea {
    vertical-align: top;
    width: 100%;
    max-width: 435px;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }

    .dark-background & {
      @include color($primary-color, 0.6);
    }

    @include placeholder {
      @include opacity(0.5);
    }
  }

  .form_field_textarea {
    resize: none;
  }

  .form_submit {
    input {
      margin: 0;
      padding: 7px 20px 6px;
      font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      @include color($red-1);
      @include bg($red-2);
      border: none;
      cursor: pointer;
      @include inputiosreset;

      &:hover {
        @include opacity(0.75);
      }

      @include query($mobile-6) {
        width: 100%;
      }
    }
  }
}

.comment-form  {
  .form_field_error {
    position: absolute;
    top: 3px;
    font-size: 13px;
  }
}
