// Styling rules for the site's editable content area and its elements.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms and image galleries are located in the separate partials: "_forms.scss" and "_gallery.scss".
.content-formatted {
  @extend %clearfix;
  @include hyphenate(true);

  .content & {
    .front-page & {
      margin-top: 75px;

      @include query($mobile-1) {
        margin-top: 35px;
      }
    }
  }

  // Resets the top margin for the first element and bottom margin for the last element in the content area (to prevent unwanted white-space at the beginning and the end of a content-area).
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  pre,
  code,
  .edy-positionable-container-center,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-right-block {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Colors for editable content area elements with editable background.
  &,
  p,
  ul,
  ol,
  table {
    .light-background & {
      @include color($black);
    }

    .dark-background & {
      @include color($content-color);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .light-background & {
      @include color($black);
    }

    .dark-background & {
      @include color($primary-color);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    .front-page & {
      text-align: center;
    }
  }

  h1 {
    text-align: center;
    font-size: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    font-size: 16px;
    @include color($primary-color);

    .front-page & {
      font-size: 34px;
    }
  }

  p {
    // .front-page & {
    //   margin-top: 12px;
    // }
  }

  ul {
    list-style-type: none;

    li {
      position: relative;

      &:before {
        font-size: 28px;
        position: absolute;
        top: -21px;
        left: -20px;
        content: "_ ";
      }
    }
  }

  a {
    @include color($primary-color, .5);

    .light-background & {
      @include color($black);
    }

    &:hover {
      text-decoration: none;
    }
  }

  // Disables hyphenation for the elements that shouldn't hyphenate.
  pre,
  code,
  iframe,
  table,
  form {
    @include hyphenate(false);
  }

  // Top and bottom margin for the elements that doesn't have the default margin.
  pre,
  .edy-positionable-container-center,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-right-block,
  .embed-container,
  .table-container,
  .editmode & table {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  // Code blocks and preformatted content.
  pre,
  code {
    font-size: 14px;
    @include bg($black, 0.5);
  }

  pre {
    overflow: auto;
    padding: 10px;

    code {
      display: inline;
      padding: 0;
      white-space: pre;
      line-height: inherit;
      background-color: transparent;
      @include word-wrap(normal);
    }
  }

  code {
    display: inline-block;
    padding: 5px;
    @include word-wrap(break-word);
  }

  blockquote {
    margin: 20px 40px;
  }

  .custom-btn {
    display: inline-block;
    padding: 10px 18px 9px;
    font-size: 13px;
    cursor: pointer;
    @include color($primary-color);
    @include bg($black, 0.2);
    color: #fff;
    background-color: #000;
    background-color: rgba(0,0,0,.2);
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,.67);

    &:hover {
      background-color: rgba(0,0,0,.3);
    }
  }

  // Image container positioning
  .edy-positionable-container-left,
  .edy-positionable-container-right {
    width: 45%;
  }

  .edy-positionable-container-left,
  .edy-texteditor-container-wrapper-left {
    margin-right: 20px;
  }

  .edy-positionable-container-right,
  .edy-texteditor-container-wrapper-right {
    margin-left: 20px;
  }

  // Content area image title
  .edy-image-container-with-title {
    &:after {
      display: block;
      padding: 2px;
      font-size: 12px;
      line-height: 1.3em;
      content: attr(data-title);
    }
  }

  iframe {
    max-width: 100%;
  }

  // Styling rules for the site's editable content area tables.
  // Overthrow plugin to support horizontal scrolling on older devices that have touch-screens. For example Android 2.3 devices.
  .table-container {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;

    tr {
      &:first-child {
        td {
          @include border(top, 1px, solid, $black, .3);

          .light-background & {
            @include border(top, 1px, solid, $primary-color, .1);
          }
        }
      }
    }

    td {
      padding: 10px;
      @include border(bottom, 1px, solid, $black, .3);

      .light-background & {
        @include border(bottom, 1px, solid, $primary-color, .1);
      }
    }
  }
}

// Sets the dynamic line-height for the text with custom font-size.
span[style*="font-size"] {
  line-height: 1.7em;
}
