/* FOOTER */
.footer {
  font-size: 11px;
  @include color($primary-color, 0.5);

  .wrap {
    padding: 40px 20px;

    @include query($tablet-5) {
      padding-top: 0;
    }
  }

  .footer-inner {
    margin-top: 23px;

    .flexbox & {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(flex-end);
    }
  }

  a {
    text-decoration: none;
    @include color($primary-color);

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-left,
  .footer-right {
    display: inline-block;
  }

  .footer-left {
    @extend %clearfix;
    min-width: calc(100% - 144px);
    margin-bottom: 25px;

    .flexbox & {
      max-width: 100%;
      @include flex(1 0 auto);
    }

    .no-flexbox & {
      float: left;
    }
  }

  .footer-right {
    text-align: right;
    margin-left: 25px;
    // width: 119px;
    // float: right;

    .no-flexbox & {
      float: right;
    }

    @include query($mobile-5) {
      display: block;
    }

    a {
      @include color($primary-color, 0.2);

      &:hover {
        @include color($primary-color, 0.5);
      }
    }
  }

  &.light-background {
    .footer-left,
    .footer-right {
      a {
        @include color($black, .5);

        &:hover {
          @include color($black, .8);
        }
      }
    }
  }
}
