/* FORMS */
.content-formatted {
  form {
    max-width: 100%;
    margin-top: 20px;
  }

  .form_field,
  .edy-fe-label {
    font-size: 14px;
  }

  .form_field {
    margin-top: 20px;

    &:first-child {
      margin-top: 14px;
    }
  }

  .form_field label,
  .edy-fe-label {
    display: block;
    line-height: 1.4;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_submit input {
    font-family: inherit;
    font-size: 14px;
  }
  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field_file {
    max-width: 100%;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_submit input {
    @include color($primary-color);
    @include bg($black, 0.2);
    @include border(all, 1px, solid, $black, 0.67);
    border-radius: 2px;
  }


  .form_field_textfield,
  .form_field_textarea {
    width: 190px;
    margin-top: 2px;
    padding: 4px 5px 5px;
    box-sizing: border-box;

    @include query($mobile-6) {
      width: 100%;
    }

    &:focus {
      outline: none;
    }
  }

  .form_field_textarea {
    box-sizing: border-box;
    min-height: 111px;
    overflow-x: hidden;

    .comment-form & {
      .form_field_textarea {
        min-height: 22px;
      }
    }
  }

  .form_field_size_medium {
    width: 325px;

    @include query($mobile-6) {
      width: 100%;
    }
  }
  .form_field_size_large {
    width: 630px;
  }

  .form_submit {
    margin-top: 20px;

    input {
      display: block;
      padding: 10px 18px 9px;
      font-size: 13px;
      line-height: 1;
      cursor: pointer;
      @include inputiosreset;

      &:hover {
        @include bg($black, 0.3);
      }

      @include query($mobile-6) {
        width: 100%;
      }
    }
  }
}

.form_error,
.form_field_error {
  @include color($red-3);
}

.form_error,
.form_notice {
  font-weight: 700;
  font-size: 14px;
}

.form_field_error {
  font-size: 11px;
}

.form_notice {
  @include color($green);
}

.form_field_with_errors {
  .form_field_textfield,
  .form_field_textarea {
    @include border(all, 1px, solid, $red-3);
  }
}
