/* MENUS */
.menu-btn {
  display: none;

  @include query($tablet-4) {
    position: absolute;
    top: 40px;
    right: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    &.open,
    &.hover {
      .menu-stripe {
        @include bg($black, 0.48);
      }
    }

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    .menu-stripe {
      display: block;
      width: 25px;
      height: 4px;
      margin: 4px 0;
      @include bg($black, 0.6);
      border-radius: 5px;

      &:first-child,
      &:last-child {
        margin: 0;
      }
    }
  }
}

.edit-btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }

  .menu-main & {
    margin-left: 15px;
  }

  .menu-sub & {
    position: relative;
    top: -1px;
  }

  @include query($tablet-4) {
    .menu-main & {
      display: block;
      margin-right: 0;
      margin-left: 0;
      padding: 9px 30px 10px;
      @include border(top, 1px, solid, $black, 0.2);
    }
  }
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  line-height: 1.2;

  .menu-item {
    display: inline-block;
  }

  .menu-link {
    text-decoration: none;

    &.active {
      font-weight: 700;
    }

    &.untranslated {
      @include opacity(0.5);
    }
  }
}

.menu-main {
  @include hyphenate(true);
  display: inline-block;
  vertical-align: middle;

  .menu-item {
    vertical-align: middle;
    margin-left: 15px;
    font-size: 18px;

    &:first-child {
      margin-left: 0;
    }
  }

  .menu-link {
    display: block;
    @include color($black, 0.8);

    &:hover:not(.active) {
      @include opacity(0.5);
    }
  }

  @include query($tablet-4) {
    display: none;

    &.expanded {
      position: absolute;
      top: 82px;
      right: 20px;
      z-index: 10;
      display: block;
      min-width: 350px;
      margin-bottom: 60px;
      text-align: left;
      @include bg($primary-color);
      @include box-shadow(0, 5px, 25px, rgba($black, .3));
    }

    .menu-item {
      display: block;
      margin: 0;
      font-size: 20px;

      &:first-child {
        .menu-link {
          border-top: none;
        }
      }
    }

    .menu-link {
      padding: 9px 25px 7px;
      @include border(top, 1px, solid, $black, .3);
    }
  }

  @include query($mobile-5) {
    &.expanded {
      top: 108px;
      left: 0;
      right: 0;
      min-width: 0;
      margin-bottom: 40px;
      @include border(top, 1px, solid, $primary-color, .2);
      @include no-box-shadow;
    }

    .menu-item {

      &:first-child {
        .menu-link {
          @include border(top, 1px, solid, $black, .2);
        }
      }
    }
  }
}

.menu-sub {
  padding: 8px 20px 12px;
  @include bg($black, 0.2);

  .light-background & {
    .menu-link {
      @include color($black, 0.8);
    }
  }

  .menu {
    text-align: center;
  }

  .menu-item {
    margin-right: 15px;
    font-size: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  .menu-link {
    @include color($primary-color, 0.8);

    &.active,
    &:hover {
      @include color($primary-color);
    }
  }
}

.menu-lang {
  display: inline-block;
  margin-left: 20px;

  .menu-main & {
    display: none;
  }

  .menu-item {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  .menu-link {
    font-size: 11px;
    @include color($black, 0.53);

    &.active {
      @include color($black, 1);
    }

    &:hover:not(.active) {
      @include color($black, 0.8);
    }
  }

  .edit-btn {
    position: relative;
    top: -1px;
  }

  @include query($tablet-4) {
    display: none;
    margin-left: 0;

    .menu-main & {
      display: block;
      margin-right: 0;
    }

    .menu-item {
      margin-right: 0;

      &:first-child {
        .menu-link {
          @include border(top, 1px, solid, $black, .2);
        }
      }
    }

    .menu-link {
      padding: 13px 25px 11px;
      font-size: 14px;
    }
  }
}

.tags {
  margin-top: 20px;

  .tags-editor {
    margin-left: 22px;
  }

  .menu-item,
  .menu-link {
    @include color($primary-color);

    .light-background & {
      @include color($black);
    }
  }

  .menu-item {
    .tag {
      display: inline-block;
    }
  }

  .menu-link {
    text-decoration: underline;
    font-size: 14px;

    &:hover {
      @include color($primary-color,.8);
    }
  }
}

.ico-tags {
  position: relative;
  top: 5px;
  float: left;
  fill: currentcolor;

  .light-background & {
    fill: rgba($black,.7);

    .blog-page & {
      .no-svg & {
        background-image: url('../images/ico-tags-blog-black.png');
      }
    }

    .post-page & {
      .no-svg & {
        background-image: url('../images/ico-tags-post-black.png');
      }
    }
  }

  .no-svg & {
    display: block;
    background-size: 100%;
  }

  .blog-page & {
    margin-right: 15px;

    .no-svg & {
      width: 24px;
      height: 24px;
      background-image: url('../images/ico-tags-blog-white.png');
    }
  }

  .post-page & {
    margin-right: 7px;

    .no-svg & {
      width: 16px;
      height: 16px;
      background-image: url('../images/ico-tags-post-white.png');
    }
  }
}
