// VARIABLES
// General colors
// $primary-color: #C2C2C2;
$primary-color: #FFFFFF;
$secondary-color: #FF0000;
$third-color: #303132;
$content-color: #c2c2c2;

// Specific colors
$black: #000000;

$red-1: #500202;
$red-2: #921D1D;
$red-3: #EE0000;
$green: #60A740;
$blue-1: #0066BB;
$blue-2: #C7E5FF;
$yellow: #F9EC5A;

// $code-bg: #fafafa;

// Media queries
$tablet-1: 1048px;
$tablet-3: 999px;
$tablet-4: 840px;
$tablet-5: 752px;

$mobile-1: 640px;
$mobile-2: 624px;
$mobile-3: 580px;
$mobile-4: 506px;
$mobile-5: 480px;
$mobile-6: 420px;

// Reusable values
$search-height: 24px;
