/* FOOTER */
.footer {
  font-size: 11px;
  @include color($primary-color, 0.5);

  .wrap {
    padding: 40px 20px;

    @include query($tablet-5) {
      padding-top: 0;
    }
  }

  .footer-inner {
    @extend %clearfix;
    margin-top: 23px;
  }

  a {
    text-decoration: none;
    @include color($primary-color);

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-left,
  .footer-right {
    display: inline-block;
  }

  .footer-left {
    min-width: calc(100% - 144px);
    margin-bottom: 25px;
  }

  .footer-right {
    width: 119px;
    margin-left: 25px;
    float: right;

    @include query($mobile-5) {
      display: block;
    }

    a {
      @include color($primary-color, 0.2);

      &:hover {
        @include color($primary-color, 0.5);
      }
    }
  }

  &.light-background {
    .footer-left,
    .footer-right {
      a {
        @include color($black, .5);

        &:hover {
          @include color($black, .8);
        }
      }
    }
  }
}
