/* FOOTER */
.footer {
  font-size: 11px;
  @include color($primary-color, 0.5);

  .wrap {
    padding: 40px 20px;

    @include query($tablet-5) {
      padding-top: 0;
    }
  }

  .footer-inner {
    margin-top: 23px;

    .no-flexbox & {
      display: table;
    }

    .flexbox & {
      @include flexbox;
      @include align-items(flex-start);
    }

    @include query($mobile-5) {
      .no-flexbox &,
      .flexbox & {
        display: block;
      }
    }
  }

  a {
    text-decoration: none;
    @include color($primary-color);

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-left,
  .footer-right {
    .no-flexbox &{
      display: table-cell;
    }
  }

  .footer-left {
    width: 840px;
  }

  .footer-right {
    width: 160px;
    text-align: right;

    @include query($mobile-5) {
      max-width: 100%;
      margin-top: 20px;
    }

    a {
      @include color($primary-color, 0.2);

      &:hover {
        @include color($primary-color, 0.5);
      }
    }
  }

  .footer-left,
  .footer-right {
    @include query($mobile-5) {
      width: auto;
      max-width: 100%;
      text-align: center;
    }
  }
}
