/* MENUS */
.menu-btn {
  display: none;

  @include query($tablet-4) {
    position: absolute;
    top: 46px;
    right: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    &.open,
    &.hover {
      .menu-stripe {
        @include bg($black, 0.48);
      }
    }

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    .menu-stripe {
      display: block;
      width: 25px;
      height: 4px;
      margin: 4px 0;
      @include bg($black, 0.6);
      border-radius: 5px;

      &:first-child,
      &:last-child {
        margin: 0;
      }
    }
  }
}

.edit-btn {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;

  .menu-sub & {
    position: relative;
    top: -1px;
  }

  @include query($tablet-4) {
    .menu-main & {
      display: block;
      margin-left: 0;
      padding: 9px 30px 10px;
      @include border(bottom, 1px, solid, $primary-color, 0.2);
    }
  }
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  line-height: 1.2;

  .menu-item {
    display: inline-block;
  }

  .menu-link {
    text-decoration: none;

    &.active {
      font-weight: 700;
    }

    &.untranslated {
      @include opacity(0.5);
    }
  }
}

.menu-main {
  display: inline-block;
  vertical-align: middle;

  .menu-item {
    vertical-align: middle;
    margin-left: 15px;
    font-size: 18px;
  }

  .menu-link {
    display: block;
    @include color($black, 0.8);

    &:hover:not(.active) {
      @include opacity(0.5);
    }
  }

  @include query($tablet-4) {
    display: none;

    &.expanded {
      position: absolute;
      top: 82px;
      right: 20px;
      z-index: 10;
      display: block;
      min-width: 350px;
      margin-bottom: 60px;
      text-align: left;
      @include bg($primary-color);
      @include box-shadow(0, 5px, 25px, rgba($black, 0.3));
    }

    .menu-item {
      display: block;
      margin: 0;
      font-size: 20px;
      @include border(bottom,1px,solid,$primary-color, 0.2);
    }

    .menu-link {
      padding: 9px 25px 7px;
    }
  }

  @include query($mobile-5) {
    &.expanded {
      top: 108px;
      left: 0;
      right: 0;
      min-width: 0;
      margin-bottom: 40px;
      @include border(top, 1px, solid, $primary-color, 0.2);
      @include no-box-shadow;
    }
  }
}

.menu-sub {
  padding: 8px 20px 12px;
  @include bg($black, 0.2);

  .menu {
    text-align: center;
  }

  .menu-item {
    margin-left: 15px;
    font-size: 12px;

    &:first-child {
      margin-left: 0;
    }
  }

  .menu-link {
    @include color($primary-color, 0.8);

    &.active,
    &:hover {
      @include color($primary-color);
    }
  }
}

.menu-lang {
  display: inline-block;
  margin-left: 20px;

  .menu-main & {
    display: none;
  }

  .menu-item {
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }

  .menu-link {
    font-size: 11px;
    @include color($black, 0.53);

    &.active {
      @include color($black, 1);
    }

    &:hover:not(.active) {
      @include color($black, 0.8);
    }
  }

  .edit-btn {
    position: relative;
    top: -1px;
  }

  @include query($tablet-4) {
    display: none;

    .menu-main & {
      display: block;
      margin-left: 0;
    }

    .menu-item {
      margin-left: 0;
    }

    .menu-link {
      padding: 13px 25px 11px 55px;
      font-size: 14px;
    }

    .lang-flag {
      position: relative;

      &:before,
      &:after {
        position: absolute;
        top: 14px;
        left: 25px;
        display: block;
        width: 20px;
        height: 13px;
        content: '';
      }

      &:before {
        @include bg($black);
      }

      &:after {
        opacity: 0.95;
        background-size: 200px;
        background-repeat: no-repeat;

        .svg & {
          background-image: url('../assets/ico-flags.svg');
        }

        .no-svg & {
          background-image: url('../images/ico-flags.png');
        }
      }
    }

    // Language flag icons positioning in the spritemap.
    $flags:
      // Albanian (Albania)
      (sq,   0        0),

      // Armenian (Armenia)
      (hy,  -20px     0),

      // Bengali (Bangladesh)
      (bn,  -40px     0),

      // Brazilian Portuguese (Brazil)
      (pt,  -60px     0),

      // Bulgarian (Bulgaria)
      (bg,  -80px     0),

      // Chinese (China)
      (zh, -100px     0),

      // Croatian (Croatia)
      (hr, -120px     0),

      // Danish (Denmark)
      (da, -140px     0),

      // Czech (Czech Republic)
      (cs, -160px     0),

      // Estonian (Estonia)
      (et, -180px     0),


      // Finnish (Finland)
      (fi,    0px -14px),

      // French (France)
      (fr,  -20px -14px),

      // Georgian (Georgia)
      (ka,  -40px -14px),

      // German (Germany)
      (de,  -60px -14px),

      // Greek (Greece)
      (el,  -80px -14px),

      // Hungarian (Hungary)
      (hu, -100px -14px),

      // Icelandic (Iceland)
      (is, -120px -14px),

      // Hindi (India)
      (hi, -140px -14px),

      // Indonesian (Indonesia)
      (id, -160px -14px),

      // Iranian (Iran)
      (fa, -180px -14px),


      // Hebrew (Israel)
      (he,    0px -28px),

      // Italian (Italy)
      (it,  -20px -28px),

      // Japanese (Japan)
      (ja,  -40px -28px),

      // Korean (Korea, South)
      (ko,  -60px -28px),

      // Latvian (Latvia)
      (lv,  -80px -28px),

      // Lithuanian (Lithuania)
      (lt, -100px -28px),

      // Malaysian (Malaysia)
      (ms, -120px -28px),

      // Dutch (Netherlands)
      (nl, -140px -28px),

      // Norwegian (Norway)
      (no, -160px -28px),

      // Urdu (Pakistan)
      (ur, -180px -28px),


      // Filipino (Philippines)
      (fil,   0px -42px),

      // Polish (Poland)
      (pl,  -20px -42px),

      // Romanian (Romania)
      (ro,  -40px -42px),

      // Russian (Russia)
      (ru,  -60px -42px),

      // Arabic (Saudi Arabia)
      (ar,  -80px -42px),

      // Slovakian (Slovakia)
      (lt, -100px -42px),

      // Slovenian (Slovenia)
      (sk, -120px -42px),

      // Spanish (Spain)
      (es, -140px -42px),

      // Swedish (Sweden)
      (sv, -160px -42px),

      // Turkish (Turkey)
      (tr, -180px -42px),


      // Ukrainian (Ukraine)
      (uk,    0px -56px),

      // American English (United States of Ameria)
      (en,  -20px -56px)
    ;


    @each $flag, $pos in $flags {
      .lang-flag-#{$flag}:after {
        background-position: $pos;
      }
    }
  }
}

.tags {
  margin-top: 20px;

  .menu-item,
  .menu-link {
    @include color($primary-color);
  }

  .menu-item {
    .tag {
      display: inline-block;
    }
  }

  .menu-link {
    text-decoration: underline;
    font-size: 14px;
  }
}

.edy-tag-input {
  @include color($primary-color);
}
