/* SEARCH */
.search {
  @extend %clearfix;
  display: inline-block;
  vertical-align: middle;
  width: 146px;
  height: $search-height;

  @include border(bottom,1px,solid,$black, 0.1);

  @include query($tablet-4) {
    position: absolute;
    top: 41px;
    right: 55px;
  }

  @include query($mobile-1) {
    top: 127px;
    left: 0;
    right: 0;
    display: none;
    @include color($primary-color, .8);
    @include bg($black);


    &.active {
      display: block;
      z-index: 9999;
      box-sizing: border-box;
      width: 100%;
      height: auto;
      border: none;
    }
  }

  .search-inner {
    position: relative;
  }

  .search,
  .search-left,
  .search-right {
    height: $search-height;
    line-height: 1;
  }

  .search-left,
  .search-right {
    float: left;
  }
}

.search-form {
  margin-right: 27px;
  line-height: 1;

  @include query($mobile-1) {
    margin-right: 55px;
  }
}

.search-btn {
  @extend %button;
}

.search-input,
.search-submit {
  &:focus {
    outline: none;
  }
}

.search-input {
  vertical-align: middle;
  width: 100%;
  height: $search-height;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 11px;
  line-height: 1;
  @include color($black, 0.53);
  background: none;
  border: none;

  &::-ms-clear {
    display: none;
  }

  &::-webkit-input-placeholder {
    padding: 2px 0 4px 0;
    line-height: 1;
  }

  @include query($mobile-1) {
    height: 40px;
    padding: 7px 0 9px 20px;
    font-size: 20px;
    @include color($primary-color, 0.8);
  }
}

.search-submit,
.search-open-btn {
  .no-svg & {
    background-repeat: no-repeat;
    background-image: url("../images/ico-search.png");
  }
}

.search-submit {
  position: absolute;
  top: 0;
  right: 0;

  svg {
    @include fill($black, 0.2);
  }

  &:hover {
    svg {
      @include fill($black, 0.5);
    }
  }

  .no-svg & {
    width: 60px;
    height: 40px;
    background-size: 23px;

  }

  @include query($mobile-1) {
    padding: 10px 20px 8px 15px;

    svg {
      width: 20px;
      height: 20px;
      @include fill($primary-color, 0.5);
    }

    &:hover {
      svg {
        @include fill($primary-color, 0.8);
      }
    }

    .no-svg & {
      width: 23px;
      height: 23px;
      padding: 20px 23px 20px 32px;
      background-position: 19px 6px;
    }
  }
}

.search-open-btn,
.search-close-btn {
  display: none;

  @include query($mobile-1) {
    position: absolute;
    top: 40px;
    right: 52px;
    display: block;
  }

  svg {
    @include fill($black, 0.6);
  }

  &:hover {
    svg {
      @include fill($black, 0.48);
    }
  }
}

.search-open-btn {
  @include query($mobile-1) {
    display: block;

    &.open {
      display: none;
    }

    .no-svg & {
      background-image: url('../images/ico-search.png');
      background-size: 23px;
    }
  }
}

.search-close-btn {
  @include query($mobile-1) {
    display: none;

    &.open {
      display: inline-block;
    }
  }
}

.voog-search-modal {
  position: absolute;
  top: 35px;
  left: -127px;
  z-index: 9999;
  width: 400px;
  @include color($black, 0.4);
  @include bg($primary-color);

  @include query($tablet-1) {
    left: auto;
    right: -35px;
  }

  @include query($mobile-1) {
    position: fixed;
    top: 167px;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    margin-top: 0;
  }
}

.voog-search-modal-inner {
  display: none;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
  padding: 20px;
  text-align: left;
  font-size: 14px;
  @include box-shadow(0, 0, 30px, rgba($black, 0.3));

  &.search-results-active {
    display: block;

    &.no-content {
      display: table;
      width: 100%;
      text-align: center;

      .voog-search-modal-results {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  @include query($mobile-1) {
    height: 100%;
    box-sizing: border-box;
  }
}

.voog-search-modal-result {
  margin-top: 18px;

  &:first-child {
    margin-top: 0;
  }

  h3 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;

    a {
      text-decoration: none;
      font-weight: 600;
      @include color($secondary-color);

      &:hover {
        @include color($secondary-color, 0.8);
      }
    }
  }

  p {
    margin: 5px 0 0;
    font-size: 14px;
  }

  em {
    font-style: normal;
    @include bg($yellow, 0.5);
    border-radius: 2px;
    padding: 0 0.2em;
  }
}
