// EDITMODE STYLESHEET
// Stylesheet for styling elements that are only used in editmode.
@import '../../bower_components/bourbon/dist/bourbon';
@import '_mixins';
@import '_variables';

// CMS DEFAULT STYLES OVERRIDES
.dark-background {
  .edy-empty-bordered {
    color: rgba(#fff, .5);
    border-color: rgba(#fff, .5);
  }
  .placeholder {
    color: rgba(#fff, .5);
  }
  .edy-content-element-hover {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(#fff, .2);
  }
  .edy-texteditor-active {
    outline-width: 1px;
    outline-style: solid;
    outline-color: rgba(#fff, .4);

    &:hover {
      outline-color: rgba(#fff, .63);
    }
  }
}

.edy-empty-bordered {
  .footer-left & {
    padding: 6px 5px 2px;
  }
}

// Post cover image drop area
.edy-img-drop-area {
  &.post-cover-inner {
    .edy-img-drop-area-placeholder {
      opacity: 1;
      margin: 0;
      padding: 25px;
      font-size: 14px;
      @include color($black, 0.53);
    }
  }

  .flexbox & {
    .edy-img-drop-area-placeholder {
      @include align-self(center);
    }
  }

  .no-flexbox & {
    .edy-img-drop-area-placeholder {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .dark-background & {
    .edy-img-drop-area-placeholder {
      @include color($primary-color, 0.53);
    }
  }
}

// Post tag editor placeholder border
.edy-taglist {
  .dark-background & {
    border-color: rgba($primary-color, .5);
  }
}

// Post tag editor placeholder
.edy-tag-input {
  @include color($primary-color);

  .light-background & {
    @include color($black);

    @include placeholder {
      @include color($black, .5);
    }
  }
}
