/* GENERAL */
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  @include color($primary-color);
  background-image: url('../images/body-bg.jpg');

  & > .background-color {
    position: fixed;
    z-index: -2;
  }
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bgpicker-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.background-image,
.background-color {
  @extend %stretch;
}

.background-image {
  background-position: center;
  background-size: cover;
}

.horizontal-line {
  width: 260px;
  height: 1px;
  @include bg($black, 0.25);

  @include query($mobile-1) {
    width: auto;
  }
}

.container {
  a {
    img {
      border: none;
    }
  }
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.content-formatted {
  @extend %clearfix;

  // Resets the bottom margin for all elements and top margin for all first elements in the editable content-area (to prevent unwanted white-space at the beginning of a content-area).
  h1, h2, h3, h4, h5, h6, p, ul, ol, pre, code, img, iframe, table form {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
    @include color($white);
  }

  h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 29px;
  }

  h2 {
    margin-top: 29px;
    font-size: 20px;
  }

  h3, h4, h5, h6 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    @include color($white);
  }

  p {
    margin-top: 25px;
  }

  ul {
    list-style-type: none;

    li {
      position: relative;

      &:before {
        font-size: 28px;
        position: absolute;
        top: -21px;
        left: -20px;
        content: "_ ";
      }
    }
  }

  a {
    @include color($white,1);

    &:hover {
      text-decoration: none;
    }
  }

  img, iframe {
    max-width: 100%;
  }

  img {
    height: auto;
  }

  pre, code {
    margin-top: 25px;
  }

  pre, code {
    display: block;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    font-size: 14px;
    @include bg($black, 0.5);
  }

  .edy-texteditor-view {
    min-height: 27px;
  }
}
