/* HEADER */
.header {
  @include bg($primary-color);

  .wrap {
    padding: 26px 20px 29px;
    min-height: 65px;

    .no-flexbox & {
      display: table;
    }

    .flexbox & {
      @include flexbox;
      @include align-items(flex-start);
    }

    @include query($tablet-5) {
      .no-flexbox &,
      .flexbox & {
        display: block;
      }
    }

    .header-left,
    .header-right {
      .no-flexbox &{
        display: table-cell;

        @include query($tablet-5) {
          display: block;
        }
      }
    }

    .header-left {
      width: 360px;
      margin-top: 10px;

      @include query($tablet-4) {
        width: auto;
        margin-right: 70px;
      }

      .header-title,
      .header-slogan {
        line-height: 1;
        @include color($black, 0.53);
      }

      .header-title {
        @extend %lato;
        font-weight: 700;
        font-size: 34px;

        &,
        a {
          text-decoration: none;
          @include color($secondary-color);
        }

        a:hover {
          @include color($secondary-color, 0.6);
        }
      }

      .header-slogan {
        width: 100%;
        font-size: 18px;
      }
    }

    .header-right {
      width: 580px;
      margin-left: 20px;
      text-align: right;

      @include query($tablet-4) {
        width: auto;
      }

      @include query($tablet-5) {
        margin: 0 -20px;
        width: auto;
      }

      .header-bottom {
        margin-top: 10px;
      }
    }
  }
}
