/* MENUS */
.menu-btn {
  display: none;

  @include query($tablet-2) {
    position: absolute;
    top: 46px;
    right: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    &.open {
      .menu-stripe {
        @include bg($grey-4, 0.8);
      }
    }

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    .menu-stripe {
      display: block;
      width: 25px;
      height: 4px;
      margin: 4px 0;
      @include bg($grey-4);
      border-radius: 5px;
      &:first-child,
      &:last-child {
        margin: 0;
      }
    }
  }
}

.edit-btn {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;

  .menu-sub & {
    position: relative;
    top: -1px;
  }

  @include query($tablet-2) {
    .menu-main & {
      display: block;
      margin-left: 0;
      padding: 9px 30px 10px;
      @include border(bottom, 1px, solid, $primary-color, 0.2);
    }
  }
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  line-height: 1.2;

  .menu-item {
    display: inline-block;

    .menu-link {
      text-decoration: none;

      &.untranslated {
        opacity: 0.5;
      }
    }
  }
}

.menu-main {
  display: inline-block;
  vertical-align: middle;

  @include query($tablet-2) {
    display: none;

    &.expanded {
      position: absolute;
      top: 82px;
      right: 20px;
      z-index: 10;
      display: block;
      min-width: 350px;
      margin-bottom: 60px;
      text-align: left;
      @include bg($white);
      @include box-shadow(0, 5px, 25px, rgba($black, 0.3));
    }
  }

  @include query($mobile-4) {
    &.expanded {
      top: 108px;
      left: 0;
      right: 0;
      min-width: 0;
      margin-bottom: 40px;
      @include border(top, 1px, solid, $primary-color, 0.2);
      @include no-box-shadow;
    }
  }

  .menu {
    .menu-item {
      vertical-align: middle;
      margin-left: 15px;
      font-size: 18px;

      &:first-child {
        margin-left: 0;
      }

      .menu-link {
        display: block;
        @include color($third-color,1);

        &:hover,
        &.active {
          @include color($third-color, 0.8);
        }

        &.active {
          font-weight: 700;
          @include color($third-color,1);
        }
      }

      @include query($tablet-2) {
        display: block;
        margin: 0;
        font-size: 20px;
        @include border(bottom,1px,solid,$primary-color, 0.2);

        .menu-link {
          padding: 9px 25px 7px;
        }
      }
    }
  }

  .menu-lang {
    display: none;

    @include query($tablet-2) {
      display: block;
      margin-left: 0;

      .menu {
        .menu-item {
          margin-left: 0;

          .menu-link {
            padding: 13px 25px 11px 55px;
            font-size: 14px;


            &:before,
            &:after {
            }

            &.active,
            &.active:hover {
            }

            &:hover {
            }
          }
        }

        .lang-flag {
          position: relative;

          &:before,
          &:after {
            position: absolute;
            top: 14px;
            left: 25px;
            display: block;
            width: 20px;
            height: 13px;
            content: '';
          }

          &:before {
            @include bg($black);
          }

          &:after {
            opacity: 0.95;
            background-size: 200px;
            background-repeat: no-repeat;

            .no-svg & {
              background-image: url('../images/ico-flags.png');
            }

            .svg & {
              background-image: url('../assets/ico-flags.svg');
            }
          }
        }

        // Language flag icons positioning in the spritemap.
        $flags:
        (sq,   0        0),
        (hy,  -20px     0),
        (bn,  -40px     0),
        (pt,  -60px     0),
        (bg,  -80px     0),
        (zh, -100px     0),
        (hr, -120px     0),
        (da, -140px     0),
        (cs, -160px     0),
        (et, -180px     0),

        (fi,    0px -14px),
        (fr,  -20px -14px),
        (ka,  -40px -14px),
        (de,  -60px -14px),
        (el,  -80px -14px),
        (hu, -100px -14px),
        (is, -120px -14px),
        (hi, -140px -14px),
        (id, -160px -14px),
        (fa, -180px -14px),

        (he,    0px -28px),
        (it,  -20px -28px),
        (ja,  -40px -28px),
        (ko,  -60px -28px),
        (lv,  -80px -28px),
        (lt, -100px -28px),
        (ms, -120px -28px),
        (nl, -140px -28px),
        (no, -160px -28px),
        (ur, -180px -28px),

        (fil,   0px -42px),
        (pl,  -20px -42px),
        (ro,  -40px -42px),
        (ru,  -60px -42px),
        (ar,  -80px -42px),
        (lt, -100px -42px),
        (sk, -120px -42px),
        (es, -140px -42px),
        (sv, -160px -42px),
        (tr, -180px -42px),
        (uk,    0px -56px),
        (en,  -20px -56px)
        ;

        @each $flag, $pos in $flags {
          .lang-flag-#{$flag}:after { background-position: $pos; }
        }
      }
    }
  }
}

.menu-sub {
  padding: 8px 20px 12px;
  @include bg($black, 0.2);

  .menu {
    text-align: center;

    .menu-item {
      margin-left: 15px;
      font-size: 12px;

      &:first-child {
        margin-left: 0;
      }

      .menu-link {
        @include color($primary-color);

        &.active {
          font-weight: 700;
        }

        &.active,
        &:hover {
          @include color($white);
        }
      }
    }
  }
}

.menu-lang {
  display: inline-block;
  margin-left: 20px;

  .menu {
    .menu-item {
      margin-left: 5px;
      &:first-child {
        margin-left: 0;
      }

      .menu-link {
        font-size: 11px;
        @include color($grey-1);

        &.active,
        &:hover {
          @include color($third-color);
        }

        &.active {
          font-weight: 700;
        }
      }
    }

    .edit-btn {
      position: relative;
      top: -1px;
    }
  }

  @include query($tablet-2) {
    display: none;
  }
}

.menu-tags {
  margin-top: 20px;

  .menu {
    .menu-item {
      &,
      .menu-link {
        @include color($white);
      }

      .tag {
        display: inline-block;
      }

      .menu-link {
        text-decoration: underline;
        font-size: 14px;

        &:hover {
          @include opacity(0.8);
        }
      }
    }
  }
}

.edy-tag-input {
  @include color($white);
}
