/* SEARCH */
.search {
  display: inline-block;
  vertical-align: middle;
  height: $search-height;
  line-height: 1;
  @include border(bottom,1px,solid,$black,.1);
  @extend %clearfix;

  @include query($tablet-3) {
    position: absolute;
    top: 41px;
    right: 55px;
  }

  .search-inner {
    position: relative;
  }

  .search,
  .search-left,
  .search-right {
    height: $search-height;
    line-height: 1;
  }

  .search-left,
  .search-right {
    float: left;
  }

  .search-input {
    vertical-align: middle;
    width: 109px;
    height: $search-height;
    margin: 0;
    padding: 2px 5px 0 0;
    font-family: inherit;
    font-size: 11px;
    line-height: 1;
    @include color($primary-color);
    background: none;
    border: none;

    &::-ms-clear {
      display: none;
    }

    &::-webkit-input-placeholder {
      padding: 2px 0 4px 0;
      line-height: 1;
    }
  }

  .search-input,
  .search-submit {
    &:focus {
      outline: none;
    }
  }

  .search-submit {
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: $search-height;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }

  .no-svg & {
    .search-submit {
      background: $white url("../images/ico-search.png") center no-repeat;
    }
  }

  .svg & {
    .search-submit {
      background: white url("../assets/ico-search.svg") center no-repeat;
    }
  }
}

.voog-search-modal {
  position: absolute;
  /* TODO: Remove this override if there's going to be a better solution */
  top: 67px !important;
  overflow-x: hidden;
  overflow-y: auto;
  width: 400px;
  max-height: 500px;
  margin-top: 10px;
  padding: 20px;
  font-size: 14px;
  @include bg($white);
  @include box-shadow(0, 0, 30px, rgba($black, 0.3));

  &.no-content {
    text-align: center;
  }

  &.voog-search-mobile-mode {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    max-height: none;
  }
}

.voog-search-modal-result {
  margin-top: 18px;

  &:first-child {
    margin-top: 0;
  }

  h3 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;

    a {
      text-decoration: none;
      font-weight: 600;
      @include color($secondary-color);

      &:hover {
        @include color($secondary-color, 0.8);
      }
    }
  }

  p {
    margin: 5px 0 0;
    font-size: 14px;
  }

  em {
    font-style: normal;
    @include bg($yellow, 0.5);
    border-radius: 2px;
    padding: 0 0.2em;
  }
}
