// VARIABLES
// General colors
$primary-color: #C2C2C2;
$secondary-color: #FF0000;
$third-color: #303132;

// Specific colors
$black: #000000;
$white: #FFFFFF;

$red: #500202;
$red-2: #921D1D;
$red-3: #EE0000;
$green: #60a740;
$blue-1: #0066bb;
$blue-2: #C7E5FF;

$grey-1: #787878;
$grey-2: #BBBDC3;
$grey-3: #555555;
$grey-4: #666666;
$yellow: #F9EC5A;

// $code-bg: #fafafa;

// Media queries
$tablet-1: 999px;
$tablet-2: 840px;
$tablet-3: 752px;

$mobile-1: 624px;
$mobile-2: 580px;
$mobile-3: 506px;
$mobile-4: 480px;
$mobile-5: 420px;

// Reusable values
$search-height: 24px;
