// VARIABLES
// General colors
$primary-color: #c2c2c2;
$secondary-color: #ff0000;
$third-color: #303132;

// Specific colors
$black: #000000;
$white: #ffffff;

$red: #500202;
$red-2: #921d1d;
$red-3: #EE0000;
// $green: #60a740;
// $blue-1: #0066bb;
$blue-2: #c7e5ff;

$grey: #787878;
$grey-2: #bbbdc3;
$grey-3: #555555;
$grey-4: #666666;

// $code-bg: #fafafa;

// Media queries
$tablet-1: 999px;
$tablet-2: 752px;
$tablet-3: 624px;

$mobile-1: 480px;
$mobile-2: 420px;

// Reusable values
$search-height: 24px;
