/* GENERAL */
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.7);
}
body.search-open {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body > .background-color {
  position: fixed;
  z-index: -2;
}

.header .wrap .header-left .header-title {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.content-formatted:after, .header .wrap:after, .blog-page .blog:after, .search:after, .footer .footer-left:after {
  content: "";
  display: table;
  clear: both;
}

.background-image,
.background-color,
.body-background-color {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.search-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.search-btn:focus {
  outline: none;
}
.search-btn::-moz-focus-inner {
  padding: 0;
  border: none;
}

.post-add-btn {
  display: none;
}

.background-image,
.background-color,
.body-background-color {
  z-index: -1;
}

.background-image,
.background-color {
  position: absolute;
}

.background-image {
  background-position: center;
  background-size: cover;
}

.body-background-color {
  position: fixed;
}

.vg-bg-picker-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}
.vg-bg-picker-btn:focus {
  outline: none;
}

.horizontal-line {
  width: 260px;
  height: 1px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.25);
}
.light-background .horizontal-line {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.25);
}
@media screen and (max-width: 480px) {
  .horizontal-line {
    width: auto;
  }
}

.container a img {
  border: none;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}
.blog-page .wrap {
  max-width: 976px;
}

.common-page .wrap-inner {
  max-width: 650px;
  margin: 36px auto;
}

.content-formatted {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}
.front-page .content .content-formatted {
  margin-top: 75px;
}
@media screen and (max-width: 640px) {
  .front-page .content .content-formatted {
    margin-top: 35px;
  }
}
.content-formatted h1:first-child,
.content-formatted h2:first-child,
.content-formatted h3:first-child,
.content-formatted h4:first-child,
.content-formatted h5:first-child,
.content-formatted h6:first-child,
.content-formatted p:first-child,
.content-formatted ul:first-child,
.content-formatted ol:first-child,
.content-formatted pre:first-child,
.content-formatted code:first-child,
.content-formatted .edy-positionable-container-center:first-child,
.content-formatted .edy-positionable-container-left-block:first-child,
.content-formatted .edy-positionable-container-right-block:first-child,
.content-formatted .edy-texteditor-container-wrapper-center:first-child,
.content-formatted .edy-texteditor-container-wrapper-left-block:first-child,
.content-formatted .edy-texteditor-container-wrapper-right-block:first-child {
  margin-top: 0;
}
.content-formatted h1:last-child,
.content-formatted h2:last-child,
.content-formatted h3:last-child,
.content-formatted h4:last-child,
.content-formatted h5:last-child,
.content-formatted h6:last-child,
.content-formatted p:last-child,
.content-formatted ul:last-child,
.content-formatted ol:last-child,
.content-formatted pre:last-child,
.content-formatted code:last-child,
.content-formatted .edy-positionable-container-center:last-child,
.content-formatted .edy-positionable-container-left-block:last-child,
.content-formatted .edy-positionable-container-right-block:last-child,
.content-formatted .edy-texteditor-container-wrapper-center:last-child,
.content-formatted .edy-texteditor-container-wrapper-left-block:last-child,
.content-formatted .edy-texteditor-container-wrapper-right-block:last-child {
  margin-bottom: 0;
}
.light-background .content-formatted, .light-background
.content-formatted p, .light-background
.content-formatted ul, .light-background
.content-formatted ol, .light-background
.content-formatted table {
  color: black;
}
.dark-background .content-formatted, .dark-background
.content-formatted p, .dark-background
.content-formatted ul, .dark-background
.content-formatted ol, .dark-background
.content-formatted table {
  color: #c2c2c2;
}
.light-background .content-formatted h1, .light-background
.content-formatted h2, .light-background
.content-formatted h3, .light-background
.content-formatted h4, .light-background
.content-formatted h5, .light-background
.content-formatted h6 {
  color: black;
}
.dark-background .content-formatted h1, .dark-background
.content-formatted h2, .dark-background
.content-formatted h3, .dark-background
.content-formatted h4, .dark-background
.content-formatted h5, .dark-background
.content-formatted h6 {
  color: white;
}
.front-page .content-formatted h1, .front-page
.content-formatted h2, .front-page
.content-formatted h3, .front-page
.content-formatted h4, .front-page
.content-formatted h5, .front-page
.content-formatted h6, .front-page
.content-formatted p {
  text-align: center;
}
.content-formatted h1 {
  text-align: center;
  font-size: 29px;
}
.content-formatted h2 {
  font-size: 20px;
}
.content-formatted h3,
.content-formatted h4,
.content-formatted h5,
.content-formatted h6 {
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.front-page .content-formatted h3, .front-page
.content-formatted h4, .front-page
.content-formatted h5, .front-page
.content-formatted h6 {
  font-size: 34px;
}
.content-formatted ul {
  list-style-type: none;
}
.content-formatted ul li {
  position: relative;
}
.content-formatted ul li:before {
  font-size: 28px;
  position: absolute;
  top: -21px;
  left: -20px;
  content: "_ ";
}
.content-formatted a {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}
.light-background .content-formatted a {
  color: black;
}
.content-formatted a:hover {
  text-decoration: none;
}
.content-formatted pre,
.content-formatted code,
.content-formatted iframe,
.content-formatted table,
.content-formatted form {
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  word-break: normal;
}
.content-formatted pre,
.content-formatted .edy-positionable-container-center,
.content-formatted .edy-positionable-container-left-block,
.content-formatted .edy-positionable-container-right-block,
.content-formatted .edy-texteditor-container-wrapper-center,
.content-formatted .edy-texteditor-container-wrapper-left-block,
.content-formatted .edy-texteditor-container-wrapper-right-block,
.content-formatted .embed-container,
.content-formatted .table-container, .editmode .content-formatted table {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-formatted pre,
.content-formatted code {
  font-size: 14px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
}
.content-formatted pre {
  overflow: auto;
  padding: 10px;
}
.content-formatted pre code {
  display: inline;
  padding: 0;
  white-space: pre;
  line-height: inherit;
  background-color: transparent;
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
}
.content-formatted code {
  display: inline-block;
  padding: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
.content-formatted blockquote {
  margin: 20px 40px;
}
.content-formatted .custom-btn {
  display: inline-block;
  padding: 10px 18px 9px;
  font-size: 13px;
  cursor: pointer;
  color: white;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
  border: 1px solid rgba(0, 0, 0, 0.67);
}
.content-formatted .custom-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.content-formatted .edy-positionable-container-left,
.content-formatted .edy-positionable-container-right {
  width: 45%;
}
.content-formatted .edy-positionable-container-left,
.content-formatted .edy-texteditor-container-wrapper-left {
  margin-right: 20px;
}
.content-formatted .edy-positionable-container-right,
.content-formatted .edy-texteditor-container-wrapper-right {
  margin-left: 20px;
}
.content-formatted .edy-image-container-with-title:after {
  display: block;
  padding: 2px;
  font-size: 12px;
  line-height: 1.3em;
  content: attr(data-title);
}
.content-formatted iframe {
  max-width: 100%;
}
.content-formatted .table-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.content-formatted table {
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
}
.content-formatted table tr:first-child td {
  border-top: 1px solid #000000;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.light-background .content-formatted table tr:first-child td {
  border-top: 1px solid #FFFFFF;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.content-formatted table td {
  padding: 10px;
  border-bottom: 1px solid #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.light-background .content-formatted table td {
  border-bottom: 1px solid #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

span[style*="font-size"] {
  line-height: 1.7em;
}

/* MENUS */
.menu-btn {
  display: none;
}
@media screen and (max-width: 840px) {
  .menu-btn {
    position: absolute;
    top: 40px;
    right: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  .menu-btn.open .menu-stripe, .menu-btn.hover .menu-stripe {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.48);
  }
  .menu-btn:focus {
    outline: none;
  }
  .menu-btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .menu-btn .menu-stripe {
    display: block;
    width: 25px;
    height: 4px;
    margin: 4px 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }
  .menu-btn .menu-stripe:first-child, .menu-btn .menu-stripe:last-child {
    margin: 0;
  }
}

.edit-btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.edit-btn:last-child {
  margin-right: 0;
}
.menu-main .edit-btn {
  margin-left: 15px;
}
.menu-sub .edit-btn {
  position: relative;
  top: -1px;
}
@media screen and (max-width: 840px) {
  .menu-main .edit-btn {
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding: 9px 30px 10px;
    border-top: 1px solid #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  line-height: 1.2;
}
.menu .menu-item {
  display: inline-block;
}
.menu .menu-link {
  text-decoration: none;
}
.menu .menu-link.active {
  font-weight: 700;
}
.menu .menu-link.untranslated {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

.menu-main {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  display: inline-block;
  vertical-align: middle;
}
.menu-main .menu-item {
  vertical-align: middle;
  margin-left: 15px;
  font-size: 18px;
}
.menu-main .menu-item:first-child {
  margin-left: 0;
}
.menu-main .menu-link {
  display: block;
  color: #000000;
  color: rgba(0, 0, 0, 0.8);
}
.menu-main .menu-link:hover:not(.active) {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
@media screen and (max-width: 840px) {
  .menu-main {
    display: none;
  }
  .menu-main.expanded {
    position: absolute;
    top: 82px;
    right: 20px;
    z-index: 10;
    display: block;
    min-width: 350px;
    margin-bottom: 60px;
    text-align: left;
    background-color: white;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3) ;
  }
  .menu-main .menu-item {
    display: block;
    margin: 0;
    font-size: 20px;
  }
  .menu-main .menu-item:first-child .menu-link {
    border-top: none;
  }
  .menu-main .menu-link {
    padding: 9px 25px 7px;
    border-top: 1px solid #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
}
@media screen and (max-width: 480px) {
  .menu-main.expanded {
    top: 108px;
    left: 0;
    right: 0;
    min-width: 0;
    margin-bottom: 40px;
    border-top: 1px solid #FFFFFF;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: none;
  }
  .menu-main .menu-item:first-child .menu-link {
    border-top: 1px solid #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.menu-sub {
  padding: 8px 20px 12px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
}
.light-background .menu-sub .menu-link {
  color: #000000;
  color: rgba(0, 0, 0, 0.8);
}
.menu-sub .menu {
  text-align: center;
}
.menu-sub .menu-item {
  margin-right: 15px;
  font-size: 12px;
}
.menu-sub .menu-item:last-child {
  margin-right: 0;
}
.menu-sub .menu-link {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.8);
}
.menu-sub .menu-link.active, .menu-sub .menu-link:hover {
  color: white;
}

.menu-lang {
  display: inline-block;
  margin-left: 20px;
}
.menu-main .menu-lang {
  display: none;
}
.menu-lang .menu-item {
  margin-right: 5px;
}
.menu-lang .menu-item:last-child {
  margin-right: 0;
}
.menu-lang .menu-link {
  font-size: 11px;
  color: #000000;
  color: rgba(0, 0, 0, 0.53);
}
.menu-lang .menu-link.active {
  color: black;
}
.menu-lang .menu-link:hover:not(.active) {
  color: #000000;
  color: rgba(0, 0, 0, 0.8);
}
.menu-lang .edit-btn {
  position: relative;
  top: -1px;
}
@media screen and (max-width: 840px) {
  .menu-lang {
    display: none;
    margin-left: 0;
  }
  .menu-main .menu-lang {
    display: block;
    margin-right: 0;
  }
  .menu-lang .menu-item {
    margin-right: 0;
  }
  .menu-lang .menu-item:first-child .menu-link {
    border-top: 1px solid #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu-lang .menu-link {
    padding: 13px 25px 11px;
    font-size: 14px;
  }
}

.tags {
  margin-top: 20px;
}
.tags .tags-editor {
  margin-left: 22px;
}
.tags .menu-item,
.tags .menu-link {
  color: white;
}
.light-background .tags .menu-item, .light-background
.tags .menu-link {
  color: black;
}
.tags .menu-item .tag {
  display: inline-block;
}
.tags .menu-link {
  text-decoration: underline;
  font-size: 14px;
}
.tags .menu-link:hover {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.8);
}

.ico-tags {
  position: relative;
  top: 5px;
  float: left;
  fill: currentcolor;
}
.light-background .ico-tags {
  fill: rgba(0, 0, 0, 0.7);
}
.no-svg .blog-page .light-background .ico-tags {
  background-image: url("../images/ico-tags-blog-black.png");
}
.no-svg .post-page .light-background .ico-tags {
  background-image: url("../images/ico-tags-post-black.png");
}
.no-svg .ico-tags {
  display: block;
  background-size: 100%;
}
.blog-page .ico-tags {
  margin-right: 15px;
}
.no-svg .blog-page .ico-tags {
  width: 24px;
  height: 24px;
  background-image: url("../images/ico-tags-blog-white.png");
}
.post-page .ico-tags {
  margin-right: 7px;
}
.no-svg .post-page .ico-tags {
  width: 16px;
  height: 16px;
  background-image: url("../images/ico-tags-post-white.png");
}

/* HEADER */
.header {
  background-color: white;
}
.header .wrap {
  padding: 26px 20px 29px;
  min-height: 65px;
}
.flexbox .header .wrap {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}
.header .wrap .header-left {
  margin-top: 10px;
}
.flexbox .header .wrap .header-left {
  max-width: 100%;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.no-flexbox .header .wrap .header-left {
  float: left;
}
.header .wrap .header-left .header-title,
.header .wrap .header-left .header-slogan {
  line-height: 1;
  color: #000000;
  color: rgba(0, 0, 0, 0.53);
}
@media screen and (max-width: 840px) {
  .header .wrap .header-left .header-title,
  .header .wrap .header-left .header-slogan {
    margin-right: 40px;
  }
}
@media screen and (max-width: 840px) {
  .search-enabled .header .wrap .header-left .header-title, .search-enabled
  .header .wrap .header-left .header-slogan {
    margin-right: 190px;
  }
}
@media screen and (max-width: 640px) {
  .search-enabled .header .wrap .header-left .header-title, .search-enabled
  .header .wrap .header-left .header-slogan {
    margin-right: 60px;
  }
}
.header .wrap .header-left .header-title {
  font-weight: 700;
  font-size: 34px;
}
.header .wrap .header-left .header-title,
.header .wrap .header-left .header-title a {
  text-decoration: none;
  color: red;
}
.header .wrap .header-left .header-title a:hover {
  color: #FF0000;
  color: rgba(255, 0, 0, 0.6);
}
.header .wrap .header-left .header-slogan {
  position: relative;
  top: 2px;
  font-size: 18px;
}
.header .wrap .header-right {
  max-width: 100%;
  text-align: right;
  margin-left: 15px;
}
@media screen and (max-width: 840px) {
  .header .wrap .header-right {
    margin-left: 0;
  }
}
.no-flexbox .header .wrap .header-right {
  float: right;
}
.header .wrap .header-right .header-bottom {
  margin-top: 10px;
}

/* CONTENT */
.content .wrap {
  padding: 35px 20px;
}

/* BLOG & BLOG ARTICLE */
.post-add-link {
  width: 218px;
  height: 298px;
  text-decoration: none;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.2);
  border: 1px dashed #FFFFFF;
  border: 1px dashed rgba(255, 255, 255, 0.1);
}
.light-background .post-add-link {
  color: #000000;
  color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.3);
}
.post-add-link, .post-add-link:hover {
  transition-property: color, border;
  transition-duration: 0.3s;
}
.post-add-link:hover {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
  border: 1px dashed #FFFFFF;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}
.light-background .post-add-link:hover {
  color: #000000;
  color: rgba(0, 0, 0, 0.6);
  border: 1px dashed #000000;
  border: 1px dashed rgba(0, 0, 0, 0.6);
}
.no-svg .post-add-link:hover .post-add-icon {
  opacity: .7;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.light-background .post-add-link:hover {
  border-color: #000000;
}
.post-add-link .post-add-link-inner {
  height: 100%;
}
.no-svg .post-add-link .post-add-link-inner .ico-newspaper {
  display: none;
}
@media screen and (max-width: 480px) {
  .post-add-link .post-add-link-inner {
    width: 100%;
  }
}
.post-add-link .wrap {
  display: table;
  height: 100%;
  padding: 0 45px;
}
.post-add-link .wrap .align-middle {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 480px) {
  .post-add-link .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -87px;
    margin-top: -47px;
    padding: 0;
  }
}
.post-add-link .post-add-icon {
  display: inline-block;
  width: 72px;
  height: 57px;
}
.no-svg .post-add-link .post-add-icon {
  opacity: .2;
  background-image: url("../images/ico-post-add-white.png");
  transition-property: opacity;
  transition-duration: 0.3s;
}
.light-background .no-svg .post-add-link .post-add-icon {
  background-image: url("../images/ico-post-add-white.png");
}
.no-svg .post-add-link .post-add-icon .icon-newspaper {
  display: none;
}
.post-add-link .post-add-title {
  margin: 10px 0 0;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
}
@media screen and (max-width: 480px) {
  .post-add-link {
    position: relative;
    height: auto;
  }
  .post-add-link:after {
    padding-top: 122.3%;
    display: block;
    content: '';
  }
  .post-add-link .post-add-link-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.post .background-image,
.post .background-color,
.post .body-background-color {
  z-index: 0;
}

.light-background .post-cover-inner {
  border: 1px dashed #000000;
  border: 1px dashed rgba(0, 0, 0, 0.1);
}
.dark-background .post-cover-inner {
  border: 1px dashed #FFFFFF;
  border: 1px dashed rgba(255, 255, 255, 0.1);
}

.post-top {
  position: relative;
}
.dark-background .post-top {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
}
.dark-background .post-top:hover {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.4);
}
.light-background .post-top {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.2);
}
.light-background .post-top:hover {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.4);
}

.dark-background .post-title {
  color: white;
}
.light-background .post-title {
  color: black;
}

.light-background .post-date {
  color: black;
}

.blog-page .blog {
  font-size: 0;
}
.blog-page .post {
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  margin-right: 12px;
  margin-left: 12px;
  text-align: left;
  line-height: 1.2;
}
.blog-page .post.post-add-link {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .blog-page .post {
    display: block;
    width: 100%;
    max-width: none;
    margin: 25px auto 0;
  }
  .blog-page .post:first-child {
    margin-top: 0;
  }
  .blog-page .post .post-position {
    position: relative;
  }
  .blog-page .post .post-position:after {
    padding-top: 122.3%;
    display: block;
    content: '';
  }
  .blog-page .post .post-position .post-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.blog-page .post .post-top,
.blog-page .post .background-image,
.blog-page .post .post-title {
  transition: opacity, 0.3s;
}
.blog-page .post .post-top {
  position: relative;
  overflow: hidden;
  display: block;
  text-decoration: none;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.blog-page .post .post-top:hover .background-image {
  opacity: 1;
}
.blog-page .post .post-top:hover .post-title {
  opacity: 0.75;
}
.blog-page .post .post-top .background-image {
  opacity: 0.7;
}
.blog-page .post .post-header {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 180px;
  height: 270px;
  padding: 15px 20px;
}
@media screen and (max-width: 480px) {
  .blog-page .post .post-header {
    width: auto;
    height: auto;
  }
}
.blog-page .post .post-header .post-title {
  margin: 0;
  font-weight: 400;
  font-size: 34px;
}
.blog-page .post .post-header .post-title, .blog-page .post .post-header .post-title a {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}
.blog-page .post .post-bottom {
  margin-top: 4px;
}
.blog-page .post .post-content,
.blog-page .post .post-footer {
  text-align: right;
}
.blog-page .post .post-footer .post-date {
  font-size: 12px;
}

.post-page .post {
  margin: 36px auto;
}
.public .post-page .post {
  max-width: 650px;
}
.editmode.flexbox .post-page .post {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.editmode.no-flexbox .post-page .post {
  display: table;
}
.editmode.no-flexbox .post-page .post .post-cover, .editmode.no-flexbox
.post-page .post .post-inner {
  display: table-cell;
  vertical-align: top;
}
.post-page .post .post-cover {
  width: 310px;
  min-width: 240px;
}
.post-page .post .post-cover-inner {
  width: 220px;
  height: 300px;
  margin-top: 11px;
}
.post-page .post .post-cover-inner.active {
  border: none;
}
.post-page .post .post-cover-inner.over {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.3);
}
.editmode .post-page .post .post-inner {
  width: 650px;
}
.post-page .post .post-header {
  text-align: center;
}
.post-page .post .post-header .post-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 29px;
}
.post-page .post .post-content .post-excerpt,
.post-page .post .post-content .post-body {
  margin-top: 25px;
}
@media screen and (max-width: 580px) {
  .editmode.flexbox .post-page .post, .editmode.no-flexbox .post-page .post {
    display: block;
  }
  .editmode.flexbox .post-page .post .post-cover,
  .editmode.flexbox .post-page .post .post-inner, .editmode.no-flexbox .post-page .post .post-cover,
  .editmode.no-flexbox .post-page .post .post-inner {
    width: auto;
  }
  .editmode.flexbox .post-page .post .post-inner, .editmode.no-flexbox .post-page .post .post-inner {
    margin-top: 40px;
  }
  .editmode.flexbox .post-page .post .post-cover-inner, .editmode.no-flexbox .post-page .post .post-cover-inner {
    margin: 0 auto;
  }
}

.post-header-bottom {
  font-size: 14px;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.3);
}
.light-background .post-header-bottom {
  color: #000000;
  color: rgba(0, 0, 0, 0.3);
}

/* SEARCH */
.search {
  display: inline-block;
  vertical-align: middle;
  width: 146px;
  height: 24px;
  border-bottom: 1px solid #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 840px) {
  .search {
    position: absolute;
    top: 41px;
    right: 55px;
  }
}
@media screen and (max-width: 640px) {
  .search {
    top: 127px;
    left: 0;
    right: 0;
    display: none;
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.8);
    background-color: black;
  }
  .search.active {
    display: block;
    z-index: 9999;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: none;
  }
}
.search .search-inner {
  position: relative;
}
.search .search,
.search .search-left,
.search .search-right {
  height: 24px;
  line-height: 1;
}
.search .search-left,
.search .search-right {
  float: left;
}

.search-form {
  margin-right: 27px;
  line-height: 1;
}
@media screen and (max-width: 640px) {
  .search-form {
    margin-right: 55px;
  }
}

.search-input:focus,
.search-submit:focus {
  outline: none;
}

.search-input {
  vertical-align: middle;
  width: 100%;
  height: 24px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 11px;
  line-height: 1;
  color: #000000;
  color: rgba(0, 0, 0, 0.53);
  background: none;
  border: none;
}
.search-input::-ms-clear {
  display: none;
}
.search-input::-webkit-input-placeholder {
  padding: 2px 0 4px 0;
  line-height: 1;
}
@media screen and (max-width: 640px) {
  .search-input {
    height: 40px;
    padding: 7px 0 9px 20px;
    font-size: 20px;
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.8);
  }
}

.no-svg .search-submit, .no-svg
.search-open-btn {
  background-repeat: no-repeat;
  background-image: url("../images/ico-search.png");
}

.search-submit {
  position: absolute;
  top: 0;
  right: 0;
}
.search-submit svg {
  fill: #000000;
  fill: rgba(0, 0, 0, 0.2);
}
.search-submit:hover svg {
  fill: #000000;
  fill: rgba(0, 0, 0, 0.5);
}
.no-svg .search-submit {
  width: 60px;
  height: 40px;
  background-size: 23px;
}
@media screen and (max-width: 640px) {
  .search-submit {
    padding: 10px 20px 8px 15px;
  }
  .search-submit svg {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    fill: rgba(255, 255, 255, 0.5);
  }
  .search-submit:hover svg {
    fill: #FFFFFF;
    fill: rgba(255, 255, 255, 0.8);
  }
  .no-svg .search-submit {
    width: 23px;
    height: 23px;
    padding: 20px 23px 20px 32px;
    background-position: 19px 6px;
  }
}

.search-open-btn,
.search-close-btn {
  display: none;
}
@media screen and (max-width: 640px) {
  .search-open-btn,
  .search-close-btn {
    position: absolute;
    top: 40px;
    right: 52px;
    display: block;
  }
}
.search-open-btn svg,
.search-close-btn svg {
  fill: #000000;
  fill: rgba(0, 0, 0, 0.6);
}
.search-open-btn:hover svg,
.search-close-btn:hover svg {
  fill: #000000;
  fill: rgba(0, 0, 0, 0.48);
}

@media screen and (max-width: 640px) {
  .search-open-btn {
    display: block;
  }
  .search-open-btn.open {
    display: none;
  }
  .no-svg .search-open-btn {
    background-image: url("../images/ico-search.png");
    background-size: 23px;
  }
}

@media screen and (max-width: 640px) {
  .search-close-btn {
    display: none;
  }
  .search-close-btn.open {
    display: inline-block;
  }
}

.voog-search-modal {
  position: absolute;
  top: 35px;
  left: -127px;
  z-index: 9999;
  width: 400px;
  color: #000000;
  color: rgba(0, 0, 0, 0.4);
  background-color: white;
}
@media screen and (max-width: 1048px) {
  .voog-search-modal {
    left: auto;
    right: -35px;
  }
}
@media screen and (max-width: 640px) {
  .voog-search-modal {
    position: fixed;
    top: 167px;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    margin-top: 0;
  }
}

.voog-search-modal-inner {
  display: none;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
  padding: 20px;
  text-align: left;
  font-size: 14px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3) ;
}
.voog-search-modal-inner.search-results-active {
  display: block;
}
.voog-search-modal-inner.search-results-active.no-content {
  display: table;
  width: 100%;
  text-align: center;
}
.voog-search-modal-inner.search-results-active.no-content .voog-search-modal-results {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 640px) {
  .voog-search-modal-inner {
    height: 100%;
    box-sizing: border-box;
  }
}

.voog-search-modal-result {
  margin-top: 18px;
}
.voog-search-modal-result:first-child {
  margin-top: 0;
}
.voog-search-modal-result h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}
.voog-search-modal-result h3 a {
  text-decoration: none;
  font-weight: 600;
  color: red;
}
.voog-search-modal-result h3 a:hover {
  color: #FF0000;
  color: rgba(255, 0, 0, 0.8);
}
.voog-search-modal-result p {
  margin: 5px 0 0;
  font-size: 14px;
}
.voog-search-modal-result em {
  font-style: normal;
  background-color: #F9EC5A;
  background-color: rgba(249, 236, 90, 0.5);
  border-radius: 2px;
  padding: 0 0.2em;
}

/* FORMS */
.content-formatted form {
  max-width: 100%;
  margin-top: 20px;
}
.content-formatted .form_field,
.content-formatted .edy-fe-label {
  font-size: 14px;
}
.content-formatted .form_field {
  margin-top: 20px;
}
.content-formatted .form_field:first-child {
  margin-top: 14px;
}
.content-formatted .form_field label,
.content-formatted .edy-fe-label {
  display: block;
  line-height: 1.4;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_submit input {
  font-family: inherit;
  font-size: 14px;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_field_file {
  max-width: 100%;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_submit input {
  color: white;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.67);
  border-radius: 2px;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea {
  width: 190px;
  margin-top: 2px;
  padding: 4px 5px 5px;
  box-sizing: border-box;
}
@media screen and (max-width: 420px) {
  .content-formatted .form_field_textfield,
  .content-formatted .form_field_textarea {
    width: 100%;
  }
}
.content-formatted .form_field_textfield:focus,
.content-formatted .form_field_textarea:focus {
  outline: none;
}
.content-formatted .form_field_textarea {
  box-sizing: border-box;
  min-height: 111px;
  overflow-x: hidden;
}
.comment-form .content-formatted .form_field_textarea .form_field_textarea {
  min-height: 22px;
}
.content-formatted .form_field_size_medium {
  width: 325px;
}
@media screen and (max-width: 420px) {
  .content-formatted .form_field_size_medium {
    width: 100%;
  }
}
.content-formatted .form_field_size_large {
  width: 630px;
}
.content-formatted .form_submit {
  margin-top: 20px;
}
.content-formatted .form_submit input {
  display: block;
  padding: 10px 18px 9px;
  font-size: 13px;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
}
.content-formatted .form_submit input:hover {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 420px) {
  .content-formatted .form_submit input {
    width: 100%;
  }
}

.form_error,
.form_field_error {
  color: #ee0000;
}

.form_error,
.form_notice {
  font-weight: 700;
  font-size: 14px;
}

.form_field_error {
  font-size: 11px;
}

.form_notice {
  color: #60a740;
}

.form_field_with_errors .form_field_textfield,
.form_field_with_errors .form_field_textarea {
  border: 1px solid #ee0000;
}

/* COMMENTS */
.comments {
  max-width: 650px;
  margin: 10px auto 0;
}

.comments-title {
  padding-top: 40px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.4;
  color: white;
  border-top: 4px solid #000000;
  border-top: 4px solid rgba(0, 0, 0, 0.2);
}
.light-background .comments-title {
  color: black;
  border-top: 4px solid #FFFFFF;
  border-top: 4px solid rgba(255, 255, 255, 0.2);
}

.comments-messages {
  margin-top: 22px;
}

.comment {
  margin-top: 23px;
  font-size: 14px;
}
.comment:first-child {
  margin-top: 0;
}

.light-background .comment-author, .light-background
.comment-separator, .light-background
.comment-body {
  color: black;
}

.comment-author {
  font-weight: 700;
  color: white;
}

.light-background .comment-body {
  color: black;
}

.comment-date {
  margin-left: 10px;
  font-size: 11px;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.2);
}
.light-background .comment-date {
  color: #000000;
  color: rgba(0, 0, 0, 0.2);
}

.comment-form {
  padding-bottom: 30px;
}
.comment-form .form_fields {
  margin-top: 10px;
}
.comment-form .form_field {
  position: relative;
  padding: 17px 0 12px;
  border-top: 1px solid #000000;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.comment-form .comment-form-label {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 120px;
  margin-right: 25px;
  text-align: right;
  font-size: 14px;
  line-height: 1.6;
}
.comment-form .comment-form-label::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.comment-form .comment-form-label::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.comment-form .comment-form-label:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.comment-form .comment-form-label:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.light-background .comment-form .comment-form-label {
  color: black;
}
.light-background .comment-form .comment-form-label::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.light-background .comment-form .comment-form-label::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.light-background .comment-form .comment-form-label:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.light-background .comment-form .comment-form-label:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 904px) {
  .comment-form .comment-form-label {
    text-align: left;
  }
}
.comment-form .form_field_textfield,
.comment-form .form_field_textarea {
  vertical-align: top;
  width: 100%;
  max-width: 435px;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  background: transparent;
  border: none;
}
.comment-form .form_field_textfield:focus,
.comment-form .form_field_textarea:focus {
  outline: none;
}
.dark-background .comment-form .form_field_textfield, .dark-background
.comment-form .form_field_textarea {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.6);
}
.comment-form .form_field_textfield::-webkit-input-placeholder,
.comment-form .form_field_textarea::-webkit-input-placeholder {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.comment-form .form_field_textfield::-moz-placeholder,
.comment-form .form_field_textarea::-moz-placeholder {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.comment-form .form_field_textfield:-moz-placeholder,
.comment-form .form_field_textarea:-moz-placeholder {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.comment-form .form_field_textfield:-ms-input-placeholder,
.comment-form .form_field_textarea:-ms-input-placeholder {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.comment-form .form_field_textarea {
  resize: none;
}
.comment-form .form_submit input {
  margin: 0;
  padding: 7px 20px 6px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  color: #500202;
  background-color: #921d1d;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
}
.comment-form .form_submit input:hover {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
}
@media screen and (max-width: 420px) {
  .comment-form .form_submit input {
    width: 100%;
  }
}

.comment-form .form_field_error {
  position: absolute;
  top: 3px;
  font-size: 13px;
}

/* FOOTER */
.footer {
  font-size: 11px;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}
.footer .wrap {
  padding: 40px 20px;
}
@media screen and (max-width: 752px) {
  .footer .wrap {
    padding-top: 0;
  }
}
.footer .footer-inner {
  margin-top: 23px;
}
.flexbox .footer .footer-inner {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .footer-left,
.footer .footer-right {
  display: inline-block;
}
.footer .footer-left {
  min-width: calc(100% - 144px);
  margin-bottom: 25px;
}
.flexbox .footer .footer-left {
  max-width: 100%;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.no-flexbox .footer .footer-left {
  float: left;
}
.footer .footer-right {
  text-align: right;
  margin-left: 25px;
}
.no-flexbox .footer .footer-right {
  float: right;
}
@media screen and (max-width: 480px) {
  .footer .footer-right {
    display: block;
  }
}
.footer .footer-right a {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.2);
}
.footer .footer-right a:hover {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}
.footer.light-background .footer-left a,
.footer.light-background .footer-right a {
  color: #000000;
  color: rgba(0, 0, 0, 0.5);
}
.footer.light-background .footer-left a:hover,
.footer.light-background .footer-right a:hover {
  color: #000000;
  color: rgba(0, 0, 0, 0.8);
}
