/* GENERAL */
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.7);
}
body.search-open {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body > .background-color {
  position: fixed;
  z-index: -2;
}

.blog-page .blog:after, .content-formatted:after, .search:after, .header .wrap:after, .footer .footer-left:after {
  content: "";
  display: table;
  clear: both;
}

.background-image,
.background-color,
.body-background-color {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.product_item-btn, .search-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.product_item-btn:focus, .search-btn:focus {
  outline: none;
}
.product_item-btn::-moz-focus-inner, .search-btn::-moz-focus-inner {
  padding: 0;
  border: none;
}

.background-image,
.background-color,
.body-background-color {
  z-index: -1;
}

.background-image,
.background-color {
  position: absolute;
}

.background-image {
  background-position: center;
  background-size: cover;
}

.body-background-color {
  position: fixed;
}

.vg-bg-picker-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}
.vg-bg-picker-btn:focus {
  outline: none;
}

.horizontal-line {
  width: 260px;
  height: 1px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.25);
}
.light-background .horizontal-line {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.25);
}
@media screen and (max-width: 487px) {
  .horizontal-line {
    width: auto;
  }
}

.container a img {
  border: none;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.common-page .wrap-inner {
  max-width: 650px;
  margin: 36px auto;
}

.btn-no-style {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* COMMENTS */
.comments {
  max-width: 650px;
  margin: 10px auto 0;
}
.comments.hide-article-comments {
  display: none;
}

.comments-title {
  padding-top: 40px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.4;
  color: white;
  border-top: 4px solid #000000;
  border-top: 4px solid rgba(0, 0, 0, 0.2);
}
.light-background .comments-title {
  color: black;
  border-top: 4px solid #FFFFFF;
  border-top: 4px solid rgba(255, 255, 255, 0.2);
}

.comments-messages {
  margin-top: 22px;
}

.comment {
  margin-top: 23px;
  font-size: 14px;
}
.comment:first-child {
  margin-top: 0;
}

.light-background .comment-author,
.light-background .comment-separator,
.light-background .comment-body {
  color: black;
}

.comment-author {
  font-weight: 700;
  color: white;
}

.light-background .comment-body {
  color: black;
}

.comment-date {
  margin-left: 10px;
  font-size: 11px;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.2);
}
.light-background .comment-date {
  color: #000000;
  color: rgba(0, 0, 0, 0.2);
}

.comment-form {
  padding-bottom: 30px;
}
.comment-form .form_fields {
  margin-top: 10px;
}
.comment-form .form_field {
  position: relative;
  padding: 17px 0 12px;
  border-top: 1px solid #000000;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.comment-form .comment-form-label {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 120px;
  margin-right: 25px;
  text-align: right;
  font-size: 14px;
  line-height: 1.6;
}
.comment-form .comment-form-label::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.comment-form .comment-form-label::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.comment-form .comment-form-label:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.comment-form .comment-form-label:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.light-background .comment-form .comment-form-label {
  color: black;
}
.light-background .comment-form .comment-form-label::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.light-background .comment-form .comment-form-label::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.light-background .comment-form .comment-form-label:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.light-background .comment-form .comment-form-label:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 904px) {
  .comment-form .comment-form-label {
    text-align: left;
  }
}
.comment-form .form_field_textfield,
.comment-form .form_field_textarea {
  vertical-align: top;
  width: 100%;
  max-width: 435px;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  background: transparent;
  border: none;
}
.comment-form .form_field_textfield:focus,
.comment-form .form_field_textarea:focus {
  outline: none;
}
.dark-background .comment-form .form_field_textfield,
.dark-background .comment-form .form_field_textarea {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.6);
}
.comment-form .form_field_textfield::-webkit-input-placeholder,
.comment-form .form_field_textarea::-webkit-input-placeholder {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.comment-form .form_field_textfield::-moz-placeholder,
.comment-form .form_field_textarea::-moz-placeholder {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.comment-form .form_field_textfield:-moz-placeholder,
.comment-form .form_field_textarea:-moz-placeholder {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.comment-form .form_field_textfield:-ms-input-placeholder,
.comment-form .form_field_textarea:-ms-input-placeholder {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.comment-form .form_field_textarea {
  resize: none;
}
.comment-form .form_submit input {
  margin: 0;
  padding: 7px 20px 6px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  color: #500202;
  background-color: #921d1d;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
}
.comment-form .form_submit input:hover {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
}
@media screen and (max-width: 420px) {
  .comment-form .form_submit input {
    width: 100%;
  }
}

.comment-form .form_field_error {
  position: absolute;
  top: 3px;
  font-size: 13px;
}
.comment-form .comment-form-label {
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}

/* FOOTER */
.footer {
  font-size: 11px;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}
.footer .wrap {
  padding: 40px 20px;
}
@media screen and (max-width: 752px) {
  .footer .wrap {
    padding-top: 0;
  }
}
.footer .footer-inner {
  margin-top: 23px;
}
.flexbox .footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .footer-left,
.footer .footer-right {
  display: inline-block;
}
.footer .footer-left {
  min-width: calc(100% - 144px);
  margin-bottom: 25px;
}
.flexbox .footer .footer-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 100%;
}
.no-flexbox .footer .footer-left {
  float: left;
}
.footer .footer-right {
  text-align: right;
  margin-left: 25px;
}
.no-flexbox .footer .footer-right {
  float: right;
}
@media screen and (max-width: 487px) {
  .footer .footer-right {
    display: block;
  }
}
.footer .footer-right a {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.2);
}
.footer .footer-right a:hover {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}

.light-background .footer-left a,
.light-background .footer-right a {
  color: #000000;
  color: rgba(0, 0, 0, 0.5);
}
.light-background .footer-left a:hover,
.light-background .footer-right a:hover {
  color: #000000;
  color: rgba(0, 0, 0, 0.8);
}

/* HEADER */
.header {
  background-color: white;
}
.header .wrap {
  padding: 26px 20px 29px;
  min-height: 65px;
}
.flexbox .header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .wrap .header-left {
  margin-top: 10px;
}
.flexbox .header .wrap .header-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 100%;
}
.no-flexbox .header .wrap .header-left {
  float: left;
}
.header .wrap .header-left .header-title,
.header .wrap .header-left .header-slogan {
  line-height: 1;
  color: #000000;
  color: rgba(0, 0, 0, 0.53);
}
@media screen and (max-width: 840px) {
  .header .wrap .header-left .header-title,
.header .wrap .header-left .header-slogan {
    margin-right: 40px;
  }
}
@media screen and (max-width: 840px) {
  .search-enabled .header .wrap .header-left .header-title,
.search-enabled .header .wrap .header-left .header-slogan {
    margin-right: 190px;
  }
}
@media screen and (max-width: 640px) {
  .search-enabled .header .wrap .header-left .header-title,
.search-enabled .header .wrap .header-left .header-slogan {
    margin-right: 60px;
  }
}
.header .wrap .header-left .header-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 34px;
}
.header .wrap .header-left .header-title,
.header .wrap .header-left .header-title a {
  text-decoration: none;
  color: red;
}
.header .wrap .header-left .header-title a:hover {
  color: #FF0000;
  color: rgba(255, 0, 0, 0.6);
}
.header .wrap .header-left .header-slogan {
  position: relative;
  top: 2px;
  font-size: 18px;
}
.header .wrap .header-right {
  max-width: 100%;
  text-align: right;
  margin-left: 15px;
}
@media screen and (max-width: 840px) {
  .header .wrap .header-right {
    margin-left: 0;
  }
}
.no-flexbox .header .wrap .header-right {
  float: right;
}
.header .wrap .header-right .header-bottom {
  margin-top: 10px;
}

.item-top {
  position: relative;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-top: 10px;
}
.item-top::before {
  display: block;
  width: 100%;
  padding-top: 100%;
  content: "";
}
.item-top > .aspect-ratio-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.item-top:hover .btn,
.item-top:hover .custom-btn {
  opacity: 1;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.item-top .custom-btn,
.item-top .btn {
  opacity: 0;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.item-top .btn {
  padding: 0;
  background-color: #1B2124;
  border: 0;
}
.item-top .btn:hover svg {
  opacity: 0.7;
}
.item-top .bg-crop-btn {
  height: 40px;
  width: 45px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
}
.item-top .bg-crop-btn.is-visible {
  display: block;
}
.item-top .bg-crop-btn.is-hidden, .without-image .editmode .item-top .bg-crop-btn {
  display: none;
}
.without-image .item-top {
  background-color: #fff;
  background-image: url("../assets/ico-placeholder.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.item-top .top-inner {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  height: 100%;
  width: 100%;
  background: transparent;
}
.without-image .editmode .item-top .top-inner {
  border: none;
}
.cms-blog-article-add-button .item-top .top-inner {
  border: none;
}
.item-top .edy-img-drop-area {
  opacity: 1;
}
.item-top .image-drop-area {
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.item-top .image-drop-area.not-cropped {
  background-size: contain !important;
}
.item-top .image-drop-area.is-cropped {
  background-size: cover !important;
}
.item-top .image-drop-area:not(.active) {
  border: none;
}
.item-top .image-drop-area:hover .btn {
  opacity: 1;
}
.item-top .image-drop-area .edy-img-drop-area-remove-image {
  display: none !important;
}
.item-top .image-drop-area .edy-img-drop-area-placeholder {
  color: #000000;
}
@media screen and (max-width: 640px) {
  .item-top .image-drop-area .edy-img-drop-area-placeholder {
    font-size: 13px;
    margin-top: 48px;
  }
}
@media screen and (min-width: 641px) {
  .item-top .image-drop-area .edy-img-drop-area-placeholder {
    font-size: 16px;
    margin-top: 64px;
  }
}

.item-image {
  border: 0;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.item-image.not-cropped {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: "object-fit: contain;";
}
.item-image.is-cropped {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}
.item-list-page .item-image {
  display: block;
}

.item-placeholder {
  width: 100%;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* MENUS */
.menu-btn {
  display: none;
}
@media screen and (max-width: 840px) {
  .menu-btn {
    position: absolute;
    top: 40px;
    right: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  .menu-btn.open .menu-stripe, .menu-btn.hover .menu-stripe {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.48);
  }
  .menu-btn:focus {
    outline: none;
  }
  .menu-btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .edy-checkout-button-visible .menu-btn {
    top: 81px;
  }
  .menu-btn .menu-stripe {
    display: block;
    width: 25px;
    height: 4px;
    margin: 4px 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }
  .menu-btn .menu-stripe:first-child, .menu-btn .menu-stripe:last-child {
    margin: 0;
  }
}

.edit-btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.edit-btn:last-child {
  margin-right: 0;
}
.menu-main .edit-btn {
  margin-left: 15px;
}
.menu-sub .edit-btn {
  position: relative;
  top: -1px;
}
@media screen and (max-width: 840px) {
  .menu-main .edit-btn {
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding: 9px 30px 10px;
    border-top: 1px solid #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  line-height: 1.2;
}
.menu .menu-item {
  display: inline-block;
}
.menu .menu-item.is-hidden {
  display: none;
}
.menu .menu-link {
  text-decoration: none;
}
.menu .menu-link.active {
  font-weight: 700;
}
.menu .menu-link.untranslated {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

.menu-main {
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  display: inline-block;
  vertical-align: middle;
}
.menu-main .menu-item {
  vertical-align: middle;
  margin-left: 15px;
  font-size: 18px;
}
.menu-main .menu-item:first-child {
  margin-left: 0;
}
.menu-main .menu-link {
  display: block;
  color: #000000;
  color: rgba(0, 0, 0, 0.8);
}
.menu-main .menu-link:hover:not(.active) {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
@media screen and (max-width: 840px) {
  .menu-main {
    display: none;
  }
  .menu-main.expanded {
    position: absolute;
    top: 82px;
    right: 20px;
    z-index: 10;
    display: block;
    min-width: 350px;
    margin-bottom: 60px;
    text-align: left;
    background-color: white;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  }
  .edy-checkout-button-visible .menu-main.expanded {
    top: 123px;
  }
  .menu-main .menu-item {
    display: block;
    margin: 0;
    font-size: 20px;
  }
  .menu-main .menu-item:first-child .menu-link {
    border-top: none;
  }
  .menu-main .menu-link {
    padding: 9px 25px 7px;
    border-top: 1px solid #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
}
@media screen and (max-width: 487px) {
  .menu-main.expanded {
    top: 108px;
    left: 0;
    right: 0;
    min-width: 0;
    margin-bottom: 40px;
    border-top: 1px solid #FFFFFF;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .menu-main .menu-item:first-child .menu-link {
    border-top: 1px solid #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.menu-sub {
  padding: 8px 20px 12px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
}
.light-background .menu-sub .menu-link {
  color: #000000;
  color: rgba(0, 0, 0, 0.8);
}
.menu-sub .menu {
  text-align: center;
}
.menu-sub .menu li {
  display: inline-block;
  margin-right: 15px;
}
.menu-sub .menu-item {
  margin-right: 15px;
  font-size: 12px;
}
.menu-sub .menu-item:last-child {
  margin-right: 0;
}
.menu-sub .menu-link {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.8);
}
.menu-sub .menu-link.active, .menu-sub .menu-link:hover {
  color: white;
}

.menu-lang {
  display: inline-block;
  margin-left: 20px;
}
.menu-main .menu-lang {
  display: none;
}
.menu-lang .menu-item {
  margin-right: 5px;
}
.menu-lang .menu-item:last-child {
  margin-right: 0;
}
.menu-lang .menu-link {
  font-size: 11px;
  color: #000000;
  color: rgba(0, 0, 0, 0.53);
}
.menu-lang .menu-link.active {
  color: black;
}
.menu-lang .menu-link:hover:not(.active) {
  color: #000000;
  color: rgba(0, 0, 0, 0.8);
}
.menu-lang .edit-btn {
  position: relative;
  top: -1px;
}
@media screen and (max-width: 840px) {
  .menu-lang {
    display: none;
    margin-left: 0;
  }
  .menu-main .menu-lang {
    display: block;
    margin-right: 0;
  }
  .menu-lang .menu-item {
    margin-right: 0;
  }
  .menu-lang .menu-item:first-child .menu-link {
    border-top: 1px solid #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu-lang .menu-link {
    padding: 13px 25px 11px;
    font-size: 14px;
  }
}

.tags {
  margin-top: 20px;
}
.tags .tags-editor {
  margin-left: 22px;
}
.tags .menu-item,
.tags .menu-link {
  color: white;
}
.light-background .tags .menu-item,
.light-background .tags .menu-link {
  color: black;
}
.tags .menu-item .tag {
  display: inline-block;
}
.tags .menu-link {
  text-decoration: underline;
  font-size: 14px;
}
.tags .menu-link:hover {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.8);
}

.ico-tags {
  position: relative;
  top: 5px;
  float: left;
  fill: currentcolor;
}
.light-background .ico-tags {
  fill: rgba(0, 0, 0, 0.7);
}
.no-svg .blog-page .light-background .ico-tags {
  background-image: url("../images/ico-tags-blog-black.png");
}
.no-svg .post-page .light-background .ico-tags {
  background-image: url("../images/ico-tags-post-black.png");
}
.no-svg .ico-tags {
  display: block;
  background-size: 100%;
}
.blog-page .ico-tags {
  margin-right: 15px;
}
.no-svg .blog-page .ico-tags {
  width: 24px;
  height: 24px;
  background-image: url("../images/ico-tags-blog-white.png");
}
.post-page .ico-tags {
  margin-right: 7px;
}
.no-svg .post-page .ico-tags {
  width: 16px;
  height: 16px;
  background-image: url("../images/ico-tags-post-white.png");
}

.menu-horizontal {
  padding-left: 0 !important;
}
.menu-horizontal .menu-separator {
  opacity: 0.36;
  font-size: 12px;
  margin-left: 4px;
  margin-right: 4px;
}
.menu-horizontal .menu-separator:first-child {
  display: none;
}
.menu-horizontal.menu-breadcrumbs {
  line-height: 16px;
  margin-top: 36px;
  margin-bottom: 8px;
}
.item-list-page .menu-horizontal.menu-breadcrumbs {
  padding-bottom: 0;
}
.menu-horizontal.menu-breadcrumbs .menu-item {
  padding-left: 0;
}
.menu-horizontal .menu-item {
  display: inline-block;
  font-size: 11px;
}

.item-list-page .menu-breadcrumbs {
  margin: 0;
}

.menu-item-cms {
  margin-left: 10px;
}
.menu-item-cms.float-right {
  float: right;
}

/* SEARCH */
.search {
  display: inline-block;
  vertical-align: middle;
  width: 146px;
  height: 24px;
  border-bottom: 1px solid #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 840px) {
  .search {
    position: absolute;
    top: 41px;
    right: 55px;
  }
  .menu-btn-hidden .search {
    right: 20px;
  }
}
@media screen and (max-width: 640px) {
  .search {
    top: 120px;
    left: 0;
    right: 0;
    display: none;
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.8);
    background-color: black;
  }
  .search.active {
    display: block;
    z-index: 9999;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: auto;
    border: none;
  }
  .edy-checkout-button-visible .search {
    top: 161px;
  }
}
.search .search-inner {
  position: relative;
}
.search .search,
.search .search-left,
.search .search-right {
  height: 24px;
  line-height: 1;
}
.search .search-left,
.search .search-right {
  float: left;
}

.search-form {
  margin-right: 27px;
  line-height: 1;
}
@media screen and (max-width: 640px) {
  .search-form {
    margin-right: 55px;
  }
}

.search-input:focus,
.search-submit:focus {
  outline: none;
}

.search-input {
  vertical-align: middle;
  width: 100%;
  height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 11px;
  line-height: 1;
  color: #000000;
  color: rgba(0, 0, 0, 0.53);
  background: none;
  border: none;
}
.search-input::-ms-clear {
  display: none;
}
.search-input::-webkit-input-placeholder {
  padding: 2px 0 4px 0;
  line-height: 1;
}
@media screen and (max-width: 640px) {
  .search-input {
    height: 40px;
    padding: 7px 0 9px 20px;
    font-size: 20px;
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.8);
  }
}

.no-svg .search-submit,
.no-svg .search-open-btn {
  background-repeat: no-repeat;
  background-image: url("../images/ico-search.png");
}

.search-submit {
  position: absolute;
  top: 0;
  right: 0;
}
.search-submit svg {
  fill: #000000;
  fill: rgba(0, 0, 0, 0.2);
}
.search-submit:hover svg {
  fill: #000000;
  fill: rgba(0, 0, 0, 0.5);
}
.no-svg .search-submit {
  width: 60px;
  height: 40px;
  background-size: 23px;
}
@media screen and (max-width: 640px) {
  .search-submit {
    padding: 10px 20px 8px 15px;
  }
  .search-submit svg {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    fill: rgba(255, 255, 255, 0.5);
  }
  .search-submit:hover svg {
    fill: #FFFFFF;
    fill: rgba(255, 255, 255, 0.8);
  }
  .no-svg .search-submit {
    width: 23px;
    height: 23px;
    padding: 20px 23px 20px 32px;
    background-position: 19px 6px;
  }
}

.search-open-btn,
.search-close-btn {
  display: none;
}
@media screen and (max-width: 640px) {
  .search-open-btn,
.search-close-btn {
    position: absolute;
    top: 40px;
    right: 52px;
    display: block;
  }
  .menu-btn-hidden .search-open-btn,
.menu-btn-hidden .search-close-btn {
    right: 20px;
  }
  .edy-checkout-button-visible .search-open-btn,
.edy-checkout-button-visible .search-close-btn {
    top: 81px;
  }
}
.search-open-btn svg,
.search-close-btn svg {
  fill: #000000;
  fill: rgba(0, 0, 0, 0.6);
}
.search-open-btn:hover svg,
.search-close-btn:hover svg {
  fill: #000000;
  fill: rgba(0, 0, 0, 0.48);
}

@media screen and (max-width: 640px) {
  .search-open-btn {
    display: block;
  }
  .search-open-btn.open {
    display: none;
  }
  .no-svg .search-open-btn {
    background-image: url("../images/ico-search.png");
    background-size: 23px;
  }
}

@media screen and (max-width: 640px) {
  .search-close-btn {
    display: none;
  }
  .search-close-btn.open {
    display: inline-block;
  }
}

.voog-search-modal {
  position: absolute;
  top: 35px;
  left: -127px;
  z-index: 9999;
  width: 400px;
  color: #000000;
  color: rgba(0, 0, 0, 0.4);
  background-color: white;
}
@media screen and (max-width: 1048px) {
  .voog-search-modal {
    left: auto;
    right: -35px;
  }
}
@media screen and (max-width: 640px) {
  .voog-search-modal {
    position: fixed;
    top: 160px;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    margin-top: 0;
  }
  .edy-checkout-button-visible .voog-search-modal {
    top: 201px;
  }
}

.voog-search-modal-inner {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
  padding: 20px;
  text-align: left;
  font-size: 14px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.voog-search-modal-inner.search-results-active {
  display: block;
}
.voog-search-modal-inner.search-results-active.no-content {
  display: table;
  width: 100%;
  text-align: center;
}
.voog-search-modal-inner.search-results-active.no-content .voog-search-modal-results {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 640px) {
  .voog-search-modal-inner {
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.voog-search-modal-result {
  margin-top: 18px;
}
.voog-search-modal-result:first-child {
  margin-top: 0;
}
.voog-search-modal-result h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}
.voog-search-modal-result h3 a {
  text-decoration: none;
  font-weight: 600;
  color: red;
}
.voog-search-modal-result h3 a:hover {
  color: #FF0000;
  color: rgba(255, 0, 0, 0.8);
}
.voog-search-modal-result p {
  margin: 5px 0 0;
  font-size: 14px;
}
.voog-search-modal-result em {
  font-style: normal;
  background-color: #F9EC5A;
  background-color: rgba(249, 236, 90, 0.5);
  border-radius: 2px;
  padding: 0 0.2em;
}

.content-item-box:hover .image_settings {
  opacity: 1;
  pointer-events: all;
}

.image_settings {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -20px;
  z-index: 1;
  opacity: 0;
  width: 100%;
  pointer-events: none;
}
.image_settings-buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  background: black;
  padding: 8px 10px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.image_settings-buttons .image_settings-button,
.image_settings-buttons .image_settings-remove,
.image_settings-buttons .image_settings-expand {
  width: 24px;
  height: 24px;
}
.image_settings-buttons .image_settings-button:hover,
.image_settings-buttons .image_settings-remove:hover,
.image_settings-buttons .image_settings-expand:hover {
  opacity: 0.7;
}
.image_settings-buttons .image_settings-button {
  background-image: url("../assets/ico-settings.svg");
}
.image_settings-buttons .image_settings-expand {
  background-image: url("../assets/ico-expand.svg");
  width: 18px;
  height: 18px;
}
.image_settings-buttons .image_settings-remove {
  background-image: url("../assets/ico-delete.svg");
}

.settings_popover {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3;
  -o-transition: opacity 0.3;
  transition: opacity 0.3;
  background: white;
  padding: 16px;
  position: absolute;
  top: 48px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.settings_popover-arrow--up {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 128px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.settings_popover-arrow--up:after {
  position: absolute;
  z-index: 56501;
  width: 0;
  height: 0;
  pointer-events: none;
  border: solid transparent;
  border-color: transparent;
  border-width: 16px;
  content: "";
  border-top-color: #fff;
  -webkit-filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.05));
}
.settings_popover.active {
  opacity: 1;
  pointer-events: all;
}

.form_field-cms {
  margin-bottom: 0;
  padding: 11px 16px;
  resize: none;
  min-height: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  -webkit-transition: all 0.3s cubic-bezier(0.1, 0.6, 0, 1);
  -o-transition: all 0.3s cubic-bezier(0.1, 0.6, 0, 1);
  transition: all 0.3s cubic-bezier(0.1, 0.6, 0, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 4px;
  position: relative;
}
.form_field-cms:hover {
  border-color: #ccc;
}
.form_field-cms label {
  pointer-events: none;
  position: absolute;
  top: 16px;
  left: 9px;
  font-size: 14px;
  font-weight: inherit;
  white-space: nowrap;
  padding: 0 8px;
  background-color: transparent;
  line-height: 16px;
  color: #8d9091;
  -webkit-transition: all 0.3s cubic-bezier(0.1, 0.6, 0, 1);
  -o-transition: all 0.3s cubic-bezier(0.1, 0.6, 0, 1);
  transition: all 0.3s cubic-bezier(0.1, 0.6, 0, 1);
}
.form_field-cms input::-webkit-input-placeholder {
  color: transparent;
}
.form_field-cms.with-input label {
  top: -8px;
  font-size: 12px;
  font-weight: 600;
  background-color: #fff;
  color: #000;
}
.form_field-cms input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fff;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font: inherit;
}

.signout-btn-wrap {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 10000;
  white-space: nowrap;
  background-color: #eeeeee;
  height: 35px;
  border-radius: 3px;
  text-align: center;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}
.signout-btn-wrap:hover {
  background-color: #c4c4c4;
}
.signout-btn-wrap .signout-link {
  position: relative;
  z-index: 10;
  display: block;
  padding: 0 10px;
}
.signout-btn-wrap .signout-name {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 400;
  font-family: "Avenir Next", "AvenirX";
  line-height: 37px;
  padding-left: 8px;
  color: rgba(27, 33, 36, 0.8);
}
.signout-btn-wrap .signout-name:hover {
  color: rgba(27, 33, 36, 0.9);
}
.signout-btn-wrap .signout-ico {
  height: 35px;
  display: inline-block;
  color: rgba(27, 33, 36, 0.7);
}
.signout-btn-wrap .signout-svg {
  margin-top: 3px;
}

.bg_img-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.content-formatted .edy-buy-button-container .form_field {
  padding-top: 15px;
}
.content-formatted .edy-buy-button-variants .form_field {
  padding-top: 5px;
  padding-bottom: 5px;
}
.content-formatted .edy-buy-button-variants .form_field_select {
  width: initial;
}

.content-formatted {
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}
.content-formatted:empty {
  display: none;
}
.front-page .content .content-formatted {
  margin-top: 75px;
}
@media screen and (max-width: 640px) {
  .front-page .content .content-formatted {
    margin-top: 35px;
  }
}
.content-formatted h1:first-child,
.content-formatted h2:first-child,
.content-formatted h3:first-child,
.content-formatted h4:first-child,
.content-formatted h5:first-child,
.content-formatted h6:first-child,
.content-formatted p:first-child,
.content-formatted ul:first-child,
.content-formatted ol:first-child,
.content-formatted dl:first-child,
.content-formatted table:first-child,
.content-formatted pre:first-child,
.content-formatted code:first-child,
.content-formatted iframe:first-child,
.content-formatted table:first-child,
.content-formatted form:first-child,
.content-formatted .table-container:first-child,
.content-formatted .edy-positionable-container-left-block:first-child,
.content-formatted .edy-positionable-container-center-block:first-child,
.content-formatted .edy-positionable-container-right-block:first-child,
.content-formatted .edy-texteditor-container-wrapper-left-block:first-child,
.content-formatted .edy-texteditor-container-wrapper-center:first-child,
.content-formatted .edy-texteditor-container-wrapper-right-block:first-child,
.content-formatted .edy-positionable-container-maxwidth:first-child {
  margin-top: 0;
}
.content-formatted h1:last-child,
.content-formatted h2:last-child,
.content-formatted h3:last-child,
.content-formatted h4:last-child,
.content-formatted h5:last-child,
.content-formatted h6:last-child,
.content-formatted p:last-child,
.content-formatted ul:last-child,
.content-formatted ol:last-child,
.content-formatted dl:last-child,
.content-formatted table:last-child,
.content-formatted pre:last-child,
.content-formatted code:last-child,
.content-formatted iframe:last-child,
.content-formatted table:last-child,
.content-formatted form:last-child,
.content-formatted .table-container:last-child,
.content-formatted .edy-positionable-container-left-block:last-child,
.content-formatted .edy-positionable-container-center-block:last-child,
.content-formatted .edy-positionable-container-right-block:last-child,
.content-formatted .edy-texteditor-container-wrapper-left-block:last-child,
.content-formatted .edy-texteditor-container-wrapper-center:last-child,
.content-formatted .edy-texteditor-container-wrapper-right-block:last-child,
.content-formatted .edy-positionable-container-maxwidth:last-child {
  margin-bottom: 0;
}
.light-background .content-formatted,
.light-background .content-formatted p,
.light-background .content-formatted ul,
.light-background .content-formatted ol,
.light-background .content-formatted table {
  color: black;
}
.dark-background .content-formatted,
.dark-background .content-formatted p,
.dark-background .content-formatted ul,
.dark-background .content-formatted ol,
.dark-background .content-formatted table {
  color: #c2c2c2;
}
.light-background .content-formatted h1,
.light-background .content-formatted h2,
.light-background .content-formatted h3,
.light-background .content-formatted h4,
.light-background .content-formatted h5,
.light-background .content-formatted h6 {
  color: black;
}
.dark-background .content-formatted h1,
.dark-background .content-formatted h2,
.dark-background .content-formatted h3,
.dark-background .content-formatted h4,
.dark-background .content-formatted h5,
.dark-background .content-formatted h6 {
  color: white;
}
.front-page .content-formatted h1,
.front-page .content-formatted h2,
.front-page .content-formatted h3,
.front-page .content-formatted h4,
.front-page .content-formatted h5,
.front-page .content-formatted h6 {
  text-align: center;
}
.content-formatted h1 {
  text-align: center;
  font-size: 29px;
}
.content-formatted h2 {
  font-size: 20px;
}
.content-formatted h3,
.content-formatted h4,
.content-formatted h5,
.content-formatted h6 {
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.front-page .content-formatted h3,
.front-page .content-formatted h4,
.front-page .content-formatted h5,
.front-page .content-formatted h6 {
  font-size: 34px;
}
.content-formatted ul,
.content-formatted ol {
  list-style-position: inside;
  padding-left: 0;
}
.content-formatted ul {
  list-style-type: none;
}
.content-formatted ul li {
  position: relative;
}
.content-formatted ul li:before {
  font-size: 28px;
  position: relative;
  top: -10px;
  left: -5px;
  content: "_ ";
}
.content-formatted a {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5);
}
.light-background .content-formatted a {
  color: black;
}
.content-formatted a:hover {
  text-decoration: none;
}
.content-formatted pre,
.content-formatted code,
.content-formatted iframe,
.content-formatted table,
.content-formatted form {
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  word-break: normal;
}
.content-formatted pre,
.content-formatted .edy-positionable-container-center,
.content-formatted .edy-positionable-container-left-block,
.content-formatted .edy-positionable-container-right-block,
.content-formatted .edy-texteditor-container-wrapper-center,
.content-formatted .edy-texteditor-container-wrapper-left-block,
.content-formatted .edy-texteditor-container-wrapper-right-block,
.content-formatted .embed-container,
.content-formatted .table-container, .editmode .content-formatted table {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-formatted pre,
.content-formatted code {
  font-size: 14px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
}
.content-formatted pre {
  overflow: auto;
  padding: 10px;
}
.content-formatted pre code {
  display: inline;
  padding: 0;
  white-space: pre;
  line-height: inherit;
  background-color: transparent;
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
}
.content-formatted code {
  display: inline-block;
  padding: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
.content-formatted blockquote {
  margin: 20px 40px;
}
.content-formatted .custom-btn {
  display: inline-block;
  padding: 10px 18px 9px;
  font-size: 13px;
  color: white;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid;
  border: 1px solid;
}
.content-formatted .custom-btn:not(.custom-btn-disabled):hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.public .content-formatted .custom-btn {
  cursor: pointer;
}
.dark-background .content-formatted .custom-btn {
  background-color: rgba(255, 255, 255, 0.2);
}
.dark-background .content-formatted .custom-btn:not(.custom-btn-disabled):hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.public .content-formatted .custom-btn-disabled, .product-page .content-formatted .custom-btn-disabled {
  color: #adadad;
  cursor: default;
  background-color: transparent;
  border-color: #adadad;
}
.content-formatted .edy-positionable-container-left,
.content-formatted .edy-positionable-container-right {
  width: 45%;
}
.content-formatted .edy-positionable-container-left,
.content-formatted .edy-texteditor-container-wrapper-left {
  margin-right: 20px;
}
.content-formatted .edy-positionable-container-right,
.content-formatted .edy-texteditor-container-wrapper-right {
  margin-left: 20px;
}
.content-formatted .edy-image-container-with-title:after {
  display: block;
  padding: 2px;
  font-size: 12px;
  line-height: 1.3em;
  content: attr(data-title);
}
.content-formatted iframe {
  max-width: 100%;
}
.content-formatted .table-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.content-formatted table {
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
}
.content-formatted table tr:first-child td {
  border-top: 1px solid #000000;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.light-background .content-formatted table tr:first-child td {
  border-top: 1px solid #FFFFFF;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.content-formatted table td {
  padding: 10px;
  border-bottom: 1px solid #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.light-background .content-formatted table td {
  border-bottom: 1px solid #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

span[style*=font-size] {
  line-height: 1.7em;
}

/* CONTENT */
.content .wrap {
  padding: 35px 20px;
}

/* FORMS */
.content-formatted form {
  max-width: 100%;
  margin-top: 20px;
  clear: both;
}
.content-formatted .form_field,
.content-formatted .edy-fe-label {
  font-size: 14px;
}
.content-formatted .form_field {
  padding-top: 10px;
  padding-bottom: 10px;
}
.content-formatted .form_field:first-child {
  padding-top: 0;
}
.content-formatted .form_field:last-child {
  padding-bottom: 0;
}
.content-formatted .form_field label,
.content-formatted .edy-fe-label {
  display: block;
  line-height: 1.4;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_submit input {
  font-family: inherit;
  font-size: 14px;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_field_file {
  max-width: 100%;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_submit input {
  color: white;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.67);
  border-radius: 2px;
}
.dark-background .content-formatted .form_field_textfield,
.dark-background .content-formatted .form_field_textarea,
.dark-background .content-formatted .form_submit input {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.67);
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea {
  width: 190px;
  margin-top: 2px;
  padding: 4px 5px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 420px) {
  .content-formatted .form_field_textfield,
.content-formatted .form_field_textarea {
    width: 100%;
  }
}
.content-formatted .form_field_textfield:focus,
.content-formatted .form_field_textarea:focus {
  outline: none;
}
.content-formatted .form_field_textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 111px;
  overflow-x: hidden;
}
.comment-form .content-formatted .form_field_textarea .form_field_textarea {
  min-height: 22px;
}
.content-formatted .form_field_size_medium {
  width: 325px;
}
@media screen and (max-width: 420px) {
  .content-formatted .form_field_size_medium {
    width: 100%;
  }
}
.content-formatted .form_field_size_large {
  width: 630px;
}
.content-formatted .form_submit {
  margin-top: 20px;
}
.content-formatted .form_submit input {
  display: inline-block;
  padding: 10px 18px 9px;
  font-size: 13px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
}
.content-formatted .form_submit input:hover {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 420px) {
  .content-formatted .form_submit input {
    width: 100%;
  }
}

.form_error,
.form_field_error {
  color: #ee0000;
}

.form_error,
.form_notice {
  font-weight: 700;
  font-size: 14px;
}

.form_field_error {
  font-size: 11px;
}

.form_notice {
  color: #60a740;
}

.form_field_with_errors .form_field_textfield,
.form_field_with_errors .form_field_textarea {
  border: 1px solid #ee0000;
}

/* BLOG & BLOG ARTICLE */
.post-add-link {
  width: 198px;
  height: 298px;
  color: currentColor;
  text-decoration: none;
  border: 1px dashed currentColor;
  opacity: 0.3;
  cursor: pointer;
  background-color: transparent;
}
.post-add-link, .post-add-link:hover {
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.post-add-link:hover {
  opacity: 0.5;
}
.no-svg .post-add-link:hover .post-add-icon {
  opacity: 0.7;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
     transition-duration: 0.3s;
}
.post-add-link:focus {
  outline: none;
}
.post-add-link .post-add-link-inner {
  height: 100%;
}
.no-svg .post-add-link .post-add-link-inner .ico-newspaper {
  display: none;
}
@media screen and (max-width: 487px) {
  .post-add-link .post-add-link-inner {
    width: 100%;
  }
}
.post-add-link .wrap {
  display: table;
  height: 100%;
  padding: 0 15px;
}
.post-add-link .wrap .align-middle {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 487px) {
  .post-add-link .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.post-add-link .post-add-icon {
  display: inline-block;
  width: 72px;
  height: 57px;
}
.no-svg .post-add-link .post-add-icon {
  opacity: 0.2;
  background-image: url("../images/ico-post-add-white.png");
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
     transition-duration: 0.3s;
}
.light-background .no-svg .post-add-link .post-add-icon {
  background-image: url("../images/ico-post-add-white.png");
}
.no-svg .post-add-link .post-add-icon .icon-newspaper {
  display: none;
}
.post-add-link .post-add-title {
  margin: 10px 0 0;
  font-family: "Avenir Next", "AvenirX", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
}
@media screen and (max-width: 487px) {
  .post-add-link {
    position: relative;
    height: auto;
  }
  .post-add-link:after {
    padding-top: 122.3%;
    display: block;
    content: "";
  }
  .post-add-link .post-add-link-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.post .background-image,
.post .background-color,
.post .body-background-color {
  z-index: 0;
}

.post-top {
  position: relative;
}
.dark-background .post-top {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
}
.dark-background .post-top:hover {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.4);
}
.light-background .post-top {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.2);
}
.light-background .post-top:hover {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.4);
}

.dark-background .post-title {
  color: white;
}
.light-background .post-title {
  color: black;
}

.light-background .post-date {
  color: black;
}
.post-date.hide-article-date {
  display: none;
}

.post-author.hide-article-author {
  display: none;
}

.blog-page .blog {
  font-size: 0;
  text-align: center;
}
.blog-page .post {
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  margin-right: 12px;
  margin-left: 12px;
  text-align: left;
  line-height: 1.2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.blog-page .post.post-add-link {
  text-align: center;
}
@media screen and (max-width: 487px) {
  .blog-page .post {
    display: block;
    width: 100%;
    max-width: none;
    margin: 25px auto 0;
  }
  .blog-page .post:first-child {
    margin-top: 0;
  }
  .blog-page .post .post-position {
    position: relative;
  }
  .blog-page .post .post-position:after {
    padding-top: 122.3%;
    display: block;
    content: "";
  }
  .blog-page .post .post-position .post-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.blog-page .post .post-top,
.blog-page .post .background-image,
.blog-page .post .post-title {
  -webkit-transition: opacity, 0.3s;
  -o-transition: opacity, 0.3s;
  transition: opacity, 0.3s;
}
.blog-page .post .post-top {
  position: relative;
  overflow: hidden;
  display: block;
  text-decoration: none;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.blog-page .post .post-top:hover .background-image {
  opacity: 1;
}
.blog-page .post .post-top:hover .post-title {
  opacity: 0.75;
}
.blog-page .post .post-top .background-image {
  opacity: 0.7;
}
.blog-page .post .post-header {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 200px;
  height: 300px;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 487px) {
  .blog-page .post .post-header {
    width: auto;
    height: auto;
  }
}
.blog-page .post .post-header .post-title {
  margin: 0;
  font-weight: 400;
  font-size: 34px;
}
.blog-page .post .post-header .post-title, .blog-page .post .post-header .post-title a {
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}
.blog-page .post .post-bottom {
  font-size: 18px;
  margin-top: 4px;
}
.blog-page .post .post-content,
.blog-page .post .post-footer {
  text-align: right;
}
.blog-page .post .post-footer .post-date {
  font-size: 12px;
}
.blog-page .post-placeholder {
  width: 100%;
  max-width: 200px;
  margin-top: 0;
}

.post-page .post {
  margin: 36px auto;
}
.public .post-page .post {
  max-width: 650px;
}
.editmode.flexbox .post-page .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.editmode.no-flexbox .post-page .post {
  display: table;
}
.editmode.no-flexbox .post-page .post .post-cover,
.editmode.no-flexbox .post-page .post .post-inner {
  display: table-cell;
  vertical-align: top;
}
.post-page .post .post-cover {
  width: 310px;
  min-width: 240px;
}
.post-page .post .post-cover-inner {
  width: 220px;
  height: 300px;
  margin-top: 11px;
}
.post-page .post .post-cover-inner.active {
  border: none;
}
.post-page .post .post-cover-inner.over {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.3);
}
.editmode .post-page .post .post-inner {
  width: 650px;
}
.post-page .post .post-header {
  text-align: center;
}
.post-page .post .post-header .post-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 29px;
}
.post-page .post .post-content .post-excerpt,
.post-page .post .post-content .post-body {
  margin-top: 25px;
}
@media screen and (max-width: 580px) {
  .editmode.flexbox .post-page .post, .editmode.no-flexbox .post-page .post {
    display: block;
  }
  .editmode.flexbox .post-page .post .post-cover,
.editmode.flexbox .post-page .post .post-inner, .editmode.no-flexbox .post-page .post .post-cover,
.editmode.no-flexbox .post-page .post .post-inner {
    width: auto;
  }
  .editmode.flexbox .post-page .post .post-inner, .editmode.no-flexbox .post-page .post .post-inner {
    margin-top: 40px;
  }
  .editmode.flexbox .post-page .post .post-cover-inner, .editmode.no-flexbox .post-page .post .post-cover-inner {
    margin: 0 auto;
  }
}

.post-header-bottom {
  font-size: 14px;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.3);
}
.light-background .post-header-bottom {
  color: #000000;
  color: rgba(0, 0, 0, 0.3);
}

.post-nav {
  padding-top: 30px;
}

@media screen and (min-width: 641px) {
  .post-nav-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.post-nav-link {
  position: relative;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  color: currentColor;
  text-decoration: none;
}
.post-nav-link:hover .post-nav-direction {
  opacity: 1;
}
.post-nav-link:hover .post-nav-title {
  opacity: 1;
}
@media screen and (max-width: 640px) {
  .post-nav-link:nth-child(2)::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    content: "";
    opacity: 0.2;
  }
}
@media screen and (max-width: 640px) {
  .post-nav-link {
    text-align: center;
  }
}

@media screen and (min-width: 641px) {
  .post-nav-link-older {
    padding-right: 20px;
  }
}

@media screen and (min-width: 641px) {
  .post-nav-link-newer {
    padding-left: 20px;
    text-align: right;
  }
}

.post-nav-direction {
  font-size: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 0.3;
}

.post-nav-title {
  margin-top: 6px;
  font-size: 18px;
  opacity: 0.7;
}

.article-settings-editor {
  padding-top: 8px;
}

.date-separator.hide-separator {
  display: none;
}

.product_item-wrap .product_item-title,
.product_item-wrap .product_item-btn,
.product_item-wrap .product_item-price {
  color: var(--color-main);
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 1.3;
  word-break: break-word;
}
.dark-background .product_item-wrap .product_item-title,
.dark-background .product_item-wrap .product_item-btn,
.dark-background .product_item-wrap .product_item-price {
  color: #fff;
}
.product_item-wrap .product_item-title a,
.product_item-wrap .product_item-btn a,
.product_item-wrap .product_item-price a {
  color: var(--color-main);
}
.product_item-wrap .product_item-btn {
  white-space: nowrap;
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  pointer-events: none;
  top: 0;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.product_item-wrap .product_item-price {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: all;
  top: 0;
  margin: 0;
  opacity: 1;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: var(--secondary-color);
}
.product_item-wrap:hover .product_image,
.product_item-wrap:hover .item-top,
.product_item-wrap:hover .product_item-title {
  -webkit-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
  opacity: 0.7;
}
.product_item-wrap:hover .product_item-price {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.product_item-wrap:hover .product_item-btn {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  pointer-events: all;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.product_item-list a {
  color: var(--color-main);
}
.product_item-details {
  position: relative;
  overflow: hidden;
}
.product_item-details a {
  color: var(--color-main);
}
.product_item-details--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_item-btn {
  cursor: pointer;
}
.product_item-btn:hover {
  opacity: 0.7;
}
.product_alt-attr {
  display: none;
}
.with-image .product_alt-attr {
  display: block;
}

.item-page .product-price {
  padding-top: 12px;
  padding-bottom: 24px;
}
.item-page .product-price-divider {
  margin: 0 4px;
}
.item-page .content-product-description {
  margin-bottom: 12px;
}
.editmode .item-page .product-content .product-image {
  cursor: pointer;
}
.item-page .product-content .without-image .item-top {
  background-image: url("../assets/ico-placeholder.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F2F2F2;
}
.item-page .product-content .item-top .top-inner {
  background-color: transparent;
}
.item-page .product-content .item-top .top-inner .item-image {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.item-page .product-content .buy-btn-content {
  margin-bottom: 24px;
}

.dark-background .edy-product-widget-filter-sort,
.dark-background .edy-product-widget-filter-search-input {
  opacity: 0.7;
}
.dark-background .edy-product-widget-filter-label {
  opacity: 0.5;
}

.flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex_auto {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.flex_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (max-width: 850px) {
  .flex_row.reverse-col-tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.flex_row-3 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex_row-3--item {
  width: 33%;
  margin-bottom: 32px;
}
@media screen and (max-width: 1048px) {
  .flex_row-3--item {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .flex_row-3--item {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .product_list .flex_row-3--item {
    width: var(--product-list-item__width);
  }
}
.flex_row-2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex_row-2--item-50 {
  width: 50%;
  margin-bottom: 32px;
}
@media screen and (max-width: 850px) {
  .flex_row-2--item-50 {
    width: 100%;
  }
}

.mar_0-16-neg {
  margin: 0 -16px;
}
.mar_0-32-neg {
  margin: 0 -32px;
}
.mar_0-16 {
  margin: 0 16px;
}
.mar_0-32 {
  margin: 0 32px;
}
.mar_32-0 {
  margin: 32px 0;
}
@media screen and (max-width: 1048px) {
  .mar_32-0 {
    margin: 16px 0;
  }
}
.mar_b-32 {
  margin-bottom: 32px;
}
@media screen and (max-width: 1048px) {
  .mar_b-32 {
    margin-bottom: 16px;
  }
}
.mar_t-16 {
  margin-top: 16px;
}
.mar_r-8 {
  margin-right: 8px;
}

.pad_0-4 {
  padding: 0 4px;
}
.pad_16-0 {
  padding: 16px 0;
}

.of-hidden {
  overflow: hidden;
}

.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

.t-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 32px;
  z-index: 10601;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  img {
    image-rendering: -webkit-optimize-contrast !important;
  }
}
/* Unset for Safari 11+ */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    img {
      image-rendering: unset !important;
    }
  }
}