// VARIABLES
// General colors
// $primary-color: #C2C2C2;
$primary-color: #FFFFFF;
$secondary-color: #FF0000;
$third-color: #303132;
$content-color: #c2c2c2;

// Specific colors
$white: #fff;
$black: #000000;

$red-1: #500202;
$red-2: #921D1D;
$red-3: #EE0000;
$green: #60A740;
$blue-1: #0066BB;
$blue-2: #C7E5FF;
$yellow: #F9EC5A;
$editor-grey: #1B2124;

$disabled: #adadad;

// Sign out button
$color-common-gray: rgb(27,33,36);
$color-toolbar-bg: rgb(238,238,238);
$color-silver-2: rgb(196,196,196);

// Font family.
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Lato', sans-serif;
$avenir: 'Avenir Next', 'AvenirX';

// $code-bg: #fafafa;

// Media queries
$desktop-1: 1024px;

$tablet-1: 1048px;
$tablet-2: 850px;
$tablet-3: 999px;
$tablet-4: 840px;
$tablet-5: 752px;

$mobile-1: 640px;
$mobile-2: 624px;
$mobile-3: 580px;
$mobile-4: 506px;
$mobile-5: 487px;
$mobile-6: 420px;

// Reusable values
$search-height: 24px;
$bezier-default: cubic-bezier(0.1, 0.6, 0, 1);

$popover-shadow: 0px 2px 10px rgba($black, .2);
$image-settings-shadow: 0px 0px 5px rgba($black, .05), 0px 25px 35px rgba($black, .03);

$zindex-settings-popover: 56501;
$zindex-ca-interaction-button: 10600;
