.item-page {
  .product-price {
    padding-top: 12px;
    padding-bottom: 24px;

    &-divider {
      margin: 0 4px;
    }
  }

  .content-product-description {
    margin-bottom: 12px;
  }

  .product-cross-page-info {
    margin-bottom: 32px;
  }

  .product-content {
    .product-image {
      .editmode & {
        cursor: pointer;
      }
    }

    .without-image .item-top {
      background-image: url("../assets/ico-placeholder.svg");
      background-size: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #F2F2F2;
    }

    .item-top {
      .top-inner {
      background-color: transparent;

        .item-image {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .buy-btn-content {
      margin-bottom: 24px;
    }
  }
}

.dark-background {
  .edy-product-widget-filter-sort,
  .edy-product-widget-filter-search-input {
    opacity: .7;
  }

  .edy-product-widget-filter-label {
    opacity: .5;
  }
}
