.item-page {
  .product-price {
    padding-top: 12px;
    padding-bottom: 24px;

    .product-price-original {
      display: inline-block;
      padding-right: 4px;
      opacity: .4;
    }

    .product-price-final {
      display: inline-block;
    }
  }

  .content-product-description {
    margin-bottom: 12px;
  }

  .product-cross-page-info {
    margin-bottom: 32px;
  }

  .product-content {
    .without-images .item-top {
      background-image: url("../assets/ico-placeholder.svg");
      background-size: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #F2F2F2;
    }

    .buy-btn-content {
      margin-bottom: 24px;
    }
  }
}

.dark-background {
  .edy-product-widget-filter-sort,
  .edy-product-widget-filter-search-input {
    opacity: .7;
  }

  .edy-product-widget-filter-label {
    opacity: .5;
  }
}
